/**
 * Helpers classes.
 */

.hidden {
  display: none;
}

// This fixes an issue with latest tm-robin updates that squash
// latest posts slideshow divs.
.col-md-6.col-lg-4.post-item {
  min-width: 100%;
}

// This hides the «Uncategorized» category from the frontend.
// Is not possibile to remove the category from the backend or 
// with PHP filters, so we need to hide it.
// @see https://wordpress.org/support/topic/uncategorized-product-category-still-showing-after-3-3-1/
.cat-item-193 > a {
  display: none;
}
