$enable-flex: true !default;

$grid-breakpoints: (
	xs: 0,
	sm: 544px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl:1920px
) !default;

$container-max-widths: (
	sm: 576px,
	md: 720px,
	lg: 940px,
	xl: 1200px
) !default;

$link-hover-decoration: none;

$global-font-size: 16px;
$global-line-height: 1.6;
