$color__background-body: #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr: #cccccc;
$color__background-button: #111111;
$color__background-pre: #eeeeee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666666;
$color__text-input-focus: #111111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #666666;

$color__border-button: #cccccc;
$color__border-button-hover: #cccccc;
$color__border-button-focus: #aaaaaa;
$color__border-input: #cccccc;
$color__border-abbr: #666666;

/* Define for theme */
$color__primary: #fab200;
$color__secondary: #111111;
$color__tertiary: #6d7f96;
$color__price: #d92523;
