@font-face {
	font-family: 'Pe-icon-7-stroke';
	src: url('assets/libs/pixeden-stroke-7-icon/fonts/Pe-icon-7-stroke.eot?d7yf1v');
	src: url('assets/libs/pixeden-stroke-7-icon/fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
	url('assets/libs/pixeden-stroke-7-icon/fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
	url('assets/libs/pixeden-stroke-7-icon/fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
	url('assets/libs/pixeden-stroke-7-icon/fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}
