/* Slick */
.slick-slider {
	@extend %transit;

	&.slick-initialized {
		opacity: 1;
		visibility: visible;
	}

	&:hover {

		@include media-breakpoint-up(lg) {

			.slick-arrow {
				opacity: .6;
				visibility: visible;
			}

			.slick-arrow.slick-next {
				right: 0;
			}

			.slick-arrow.slick-prev {
				left: 0;
			}

			.vc_row[data-vc-stretch-content="true"] & {

				.slick-arrow.slick-prev {
					left: 15px;
				}

				.slick-arrow.slick-next {
					right: 15px;
				}
			}
		}
	}
}

.slick-arrow {
	font-size: 0;
	text-align: center;
	position: absolute;
	top: 50%;
	width: 30px;
	height: 60px;
	color: #ffffff;
	opacity: .6;
	border: none;
	transform: translateY(-50%);
	border-radius: 0;
	z-index: 1;
	padding: 0;

	&:before {
		width: 30px;
		height: 60px;
		line-height: 60px;
		font-size: 14px;
		display: inline-block;

		@extend %fa-icon;
	}

	&.slick-prev {
		left: 0;

		&:before {
			content: '\f053';
		}
	}

	&.slick-next {
		right: 0;

		&:before {
			content: '\f054';
		}
	}

	&.slick-disabled {
		opacity: 0 !important;
		visibility: hidden !important;
	}

	.vc_row[data-vc-stretch-content="true"] & {

		&.slick-prev {
			left: 15px;
		}

		&.slick-next {
			right: 15px;
		}
	}

	@include media-breakpoint-up(lg) {

		opacity: 0;
		visibility: hidden;

		&.slick-next {
			right: -50px;
		}

		&.slick-prev {
			left: -50px;
		}

	}

}

.slick-dots {
	text-align: center;
	font-size: 0;
	padding: 0;
	margin-top: 10px !important;
	margin-bottom: 30px !important;

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px 0 0;
		line-height: 1.5;
		height: 5px;
		width: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	button {
		height: 5px !important;
		width: 20px !important;
		border-radius: 0 !important;
		border: none !important;
		background-color: #999999;
		padding: 0 !important;
	}
}

.slick-track {
	position: relative;
	display: block;
	left: 0;
	top: 0;
	min-width: 100%;
}

.slick-arrow:hover, .slick-arrow:focus {
	opacity: .8 !important;
}

/* Hint.css */
[class*="hint--"]:after {
	font-family: inherit !important;
	text-shadow: none !important;
	letter-spacing: 0;
	-webkit-backface-visibility: none;
}

/* Photoswipe */
.pswp {

	.admin-bar & {
		top: 46px;

		@media screen and (min-width: 783px) {
			top: 32px;
		}
	}
}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
	background-color: transparent !important;
	background-image: url(assets/images/photoswipe/default-skin.png) !important;
}

.pswp--svg .pswp__button,
.pswp--svg .pswp__button--arrow--left:before,
.pswp--svg .pswp__button--arrow--right:before {
	background-color: transparent !important;
	background-image: url(assets/images/photoswipe/default-skin.svg) !important;
}

.pswp__preloader--active .pswp__preloader__icn {
	background-image: url(assets/images/photoswipe/preloader.gif) !important;
}

.pswp__button.pswp__button--arrow--left,
.pswp__button.pswp__button--arrow--right {
	background-color: transparent !important;
	background-image: none !important;
}

/* Growl JS */

#growls.tr {

	.admin-bar & {
		top: 42px;

		@media screen and (max-width: 782px) {

			top: 56px;
		}
	}
}

.growl {
	overflow: hidden;
	opacity: 1;
	border-radius: 0;
	padding: 0 !important;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .2);

	@include media-breakpoint-down(sm) {
		margin: 15px auto !important;
	}
}

.growl .growl-close {
	padding: 8px;
}

.growl .growl-message {
	display: table;

	a {
		color: #ffffff;
		text-decoration: underline;
	}
}

.growl .growl-thumb {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: 180px;
}

.growl .growl-content {
	display: table-cell;
	vertical-align: middle;
	padding: 10px 15px;
}

.growl .growl-thumb + .growl-content {
	padding-left: 15px;
}

.growl ul.error {
	list-style-type: none;
	padding: 20px;
	margin: 0;

	li {
		font-size: 15px;
		line-height: 1.5;
		padding-left: 10px;
	}
}

/**
perfect scrollbar
 */
.ps {
	position: relative;
}

.ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
	height: 6px;
}

.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
	width: 6px;
}

.ps > .ps__scrollbar-x-rail {
	height: 6px;
}

.ps > .ps__scrollbar-x-rail > .ps__scrollbar-x {
	background-color: #9f9f9f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	bottom: 0;
	height: 3px;
}

.ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x, .ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x {
	height: 6px;
}

.ps > .ps__scrollbar-y-rail {
	width: 6px;
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
	background-color: #9f9f9f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	right: 0;
	width: 3px;
}

.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y, .ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y {
	width: 6px;
}

.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
	height: 6px;
}

.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
	width: 6px;
}

.ps:hover > .ps__scrollbar-x-rail:hover {
	background-color: #e6e6e6;
	opacity: 1;
}

.ps:hover > .ps__scrollbar-y-rail:hover {
	background-color: #e6e6e6;
	opacity: 1;
}

/* Slider Revolution */
.tp-bullets.custom {
	width: auto !important;
	top: 98% !important;

	.tp-bullet {
		position: relative;
		top: auto !important;
		left: auto !important;
		display: inline-block;
		width: 20px;
		height: 5px;
		opacity: .2;
		background-color: #000;
		margin-right: 5px;

		@extend %transit;
	}

	.tp-bullet:hover,
	.tp-bullet.selected {
		opacity: 1;
	}
}
