/*=====================================
Custom CSS classes by theme
 =====================================*/

// http://robin.thememove.com/homepage-02/
// http://robin.thememove.com/homepage-03/
.header-phone {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin-right: 30px;

	i {
		display: inline-block;
		vertical-align: middle;
		margin-right: 7px;
	}
}

// http://robin.thememove.com/
.header-widget ul.contact-info {
	margin-top: 10px;

	li {
		font-size: 14px;
		display: inline-block;
		vertical-align: top;

		+ li {
			margin-left: 20px;
		}

		> i {
			margin-right: 5px;
		}

		> a {
			padding: 0;
		}
	}
}

// http://robin.thememove.com/homepage-02/
.vc_row.gray-box {
	padding: 40px 0;

	@include media-breakpoint-up(xl) {
		padding: 0 90px;
	}
}

// http://robin.thememove.com/homepage-03/
// http://robin.thememove.com/elements/countdown/
.vc_row.gray-box-wide {
	padding: 40px 0;

	@media (min-width: 1440px) {
		margin: 0 -115px;
	}

	@include media-breakpoint-up(xl) {
		margin: 0;
		padding: 0 90px;
	}
}

// http://robin.thememove.com/homepage-03/
.vc_custom_heading.style-robin.short-underline > span:after {
	width: 30px;
}

// http://robin.thememove.com/elements/countdown/
// http://robin.thememove.com/elements/mc4wp-form-preview/
// http://robin.thememove.com/elements/progress-bars/
// http://robin.thememove.com/elements/team-members/
// http://robin.thememove.com/elements/testimonials/
.vc_row.newsletter-box {

	.tm-robin-icon-box {
		.title {
			letter-spacing: 0.1em;
			margin-top: 10px;
			margin-bottom: 0;
		}
	}

	.tm-robin-mailchimp {
		line-height: 52px;
		font-size: 0;
		input[type="text"] {
			display: none;
		}

		input[type="email"] {
			display: inline-block;
			width: 80%;
			height: 50px;
			border-radius: 0;
			border: 2px solid transparent !important;

			&:focus {
				border-color: #222222 !important;
			}
		}

		button {
			position: relative;
			display: inline-block;
			width: 50px;
			height: 50px;
			margin-left: -2px;
			border-radius: 0;
			&:before {
				position: absolute;
				content: '\f002';
				color: #ffffff;
				font-size: 14px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				@include fa-icon('\f002');
			}
			&:hover {
				background-color: #111111 !important;
				border-color: #111111 !important;
			}

		}
	}

}

// http://robin.thememove.com/homepage-03/
// http://robin.thememove.com/elements/mc4wp-form-preview/
.vc_row.newsletter-box-icon {
	position: relative;
	margin: 0 50px !important;

	input {
		background-color: transparent !important;
	}

	.tm-robin-mailchimp {
		padding: 0 150px;

		@include media-breakpoint-between(sm, lg) {
			padding: 0 70px;
		}

		@include media-breakpoint-down(xs) {
			padding: 0 15px;
		}
	}

	.tm-robin-icon-box {
		position: absolute;
		top: 50%;
		right: -90px;
		z-index: 10;
		transform: translateY(-50%);

		.tm-icon-box__icon {
			margin: 0;

			i {
				width: 60px;
				height: 60px;
				line-height: 60px;
			}
		}

		@include media-breakpoint-down(md) {
			top: auto;
			bottom: -30px;
			left: 50%;
			right: auto;
			transform: translateX(-50%);
		}
	}

	@include media-breakpoint-down(md) {
		border: none !important;
		margin: 0 !important;
	}

}

// http://robin.thememove.com/homepage-03/
// http://robin.thememove.com/homepage-06/
.wpb_single_image.image-full-width img {
	max-width: none;
}

// http://robin.thememove.com/homepage-04/
.wpb_revslider_element.robin-carousel-slider {

	padding: 30px 0;

	.metis.tparrows {
		width: 30px !important;
	}

	@include media-breakpoint-up (xl) {

		.tp-carousel-wrapper {
			overflow: inherit !important;
		}

		.tp-revslider-slidesli {
			opacity: 1 !important;
			max-height: 80%;
			margin: 80px 0 !important;
			transition: box-shadow .5s linear, height .5s linear, margin .5s linear;
		}

		.tp-revslider-slidesli.active-revslide {
			max-height: none;
			margin: 0 !important;
			box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .25);
		}

		.tp-revslider-mainul:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 99 !important;
			visibility: visible;
			background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 35%); /* ff3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(35%, rgba(0, 0, 0, 0))); /* safari4+,chrome */
			background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 35%); /* safari5.1+,chrome10+ */
			background: -o-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 35%); /* opera 11.10+ */
			background: -ms-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 35%); /* ie10+ */
			background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 35%); /* w3c */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=1); /* ie6-9 */
		}

		.tp-revslider-mainul:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 99 !important;
			visibility: visible;
			background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 35%); /* ff3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(65%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(255, 255, 255, 1))); /* safari4+,chrome */
			background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 35%); /* safari5.1+,chrome10+ */
			background: -o-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 35%); /* opera 11.10+ */
			background: -ms-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 35%); /* ie10+ */
			background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 35%); /* w3c */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff', GradientType=1); /* ie6-9 */
		}
	}
}

// http://robin.thememove.com/homepage-04
.banner-fullwidth {
	text-align: center;
	padding: 40px 0 100px;

	h2.vc_custom_heading {

		strong {
			font-family: "Source Sans Pro";
			font-style: normal;
			font-weight: 700;
		}

		@include media-breakpoint-down(md) {
			font-size: 50px !important;
			line-height: 1em !important;
			margin-bottom: 20px;
		}
	}

	p.vc_custom_heading {
		max-width: 570px;
		margin: 0 auto 30px;

		@include media-breakpoint-down(md) {
			max-width: 80%;
		}
	}
}

// http://robin.thememove.com/homepage-05
.big-margin-bottom {

	.product-loop {
		margin-bottom: 60px;
	}
}

// http://robin.thememove.com/homepage-05
.footer-vc{

	.vc_custom_heading{
		float: left;
	}

	ul.social-links{
		float: right;

		@include media-breakpoint-down(sm){
			float: none;
			text-align: center;
		}

		>li{
			display: inline-block;
			margin-right: 30px;
			margin-bottom: 0;
		}

		i{
			font-size: 16px !important;

			&:hover{
				color: #fab200 !important;

				@extend %transit;
			}
		}
	}
}

// http://robin.thememove.com/homepage-05
.homepage-mailchimp {
	text-align: center;
	input {
		background-color: transparent !important;
		max-width: 670px;
		margin-right: 25px;
		margin-bottom: 0;

		@include media-breakpoint-down(sm) {
			margin-bottom: 20px;
		}
	}

	input[type="text"] {
		display: none;
	}

	input, button {
		display: inline-block;
	}
}

// http://robin.thememove.com/homepage-07/
.tm-shortcode {

	@include media-breakpoint-up(md) {

		&.nomargin-product .product-loop.product-style-hover--info {
			margin: 0;
		}

		&.nopadding-product .product-loop.product-style-hover--info {
			padding: 0;
		}
	}
}

// http://robin.thememove.com/elements/testimonials/
.vc_row.testimonial-box-icon {

	.tm-robin-icon-box {
		position: absolute;
		top: 50%;
		left: -30px;
		z-index: 10;
		transform: translateY(-50%);

		.tm-icon-box__icon {
			margin: 0;

			i {
				width: 60px;
				height: 60px;
				line-height: 60px;
				border: 2px solid #eee;
			}
		}

		@include media-breakpoint-down(md) {
			top: auto;
			bottom: -30px;
			left: 50%;
			right: auto;
			transform: translateX(-50%);
		}
	}
}

// For demo
.megamenu-home {

	@include media-breakpoint-up(xl) {

		.wpb_column:nth-child(7) .wpb_single_image,
		.wpb_column:nth-child(8) .wpb_single_image,
		.wpb_column:nth-child(9) .wpb_single_image {
			margin-bottom: 10px;
		}
	}

	@include media-breakpoint-up(lg) {
		.mega-menu-content {
			padding: 30px 0 30px 30px !important;
		}
	}

	h6 {
		letter-spacing: .01em;
		margin-bottom: 15px;
	}

	.wpb_single_image {
		overflow: hidden;
		margin-right: 30px;
		max-height: 110px;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);

		@extend %transit;
	}

	.wpb_column:hover {
		.wpb_single_image {
			box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .4);
		}
	}
}

.megamenu-element {
	padding: 30px;
}

// Landing Page
.wpb_revslider_element.landing-page-slider .tp-bgimg.defaultimg {

	@include media-breakpoint-down(lg) {
		background-size: cover !important;
		background-position: center center;
	}
}

.wpb_revslider_element.landing-page-slider img.landing-slide1-obj1 {

	@include media-breakpoint-down(xs) {
		transform: scale(.5);
	}

	@include media-breakpoint-only(sm) {
		transform: scale(.8);
	}

	@include media-breakpoint-only(md) {
		transform: scale(.9);
	}
}

.vc_custom_heading.landing-page-title {
	font-weight: 700;

	span {
		color: $color__primary;
	}
}

.wpb_text_column.homepages-title p {
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	color: #111111;
}

.vc_row.landing-page-homepages {

	.wpb_column {
		margin-bottom: 60px;
	}

	.wpb_column > .vc_column-inner > .wpb_wrapper {
		box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
		@extend %transit;
	}

	.wpb_column:hover > .vc_column-inner > .wpb_wrapper {
		box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.3);
	}

	.wpb_single_image {
		margin-bottom: 0;
	}

	.vc_custom_heading {
		background-color: #f8f8f8;
		margin: 0;
		padding: 20px 0;
	}
}

.vc_column_container.install-col > .vc_column-inner {

	padding: 50px 30px !important;

	> .wpb_wrapper > .vc_row.vc_inner {
		background: #ffffff;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
		padding: 20px 40px;

		> .wpb_column > .vc_column-inner {
			padding-top: 0 !important;
		}
	}

	.wpb_single_image {
		display: table-cell;
		vertical-align: middle;
		min-width: 125px;
		margin-bottom: 0;
		padding-right: 60px;
	}

	.wpb_text_column {
		display: table-cell;
		vertical-align: middle;
		margin-bottom: 0;

		h4 {
			font-size: 20px;
			margin-top: 0;
			margin-bottom: 5px;
		}
	}

	@include media-breakpoint-up(sm) {
		padding-left: 60px !important;
		padding-right: 60px !important;
	}

	@media (min-width: 1440px) {
		padding: 80px 200px !important;
	}
}

.vc_column_container.support-col {
	background: linear-gradient(223deg, #eb753f, #f8b200);
	background-size: 400% 400%;

	-webkit-animation: animate-gradient 5s ease infinite;
	-moz-animation: animate-gradient 5s ease infinite;
	-o-animation: animate-gradient 5s ease infinite;
	animation: animate-gradient 5s ease infinite;
}

.vc_column_container.support-col > .vc_column-inner {
	padding: 50px 30px !important;

	.tm-robin-button {
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);

		&:hover {
			box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
		}
	}

	@include media-breakpoint-up(sm) {
		padding-left: 60px !important;
		padding-right: 60px !important;
	}

	@media (min-width: 1440px) {
		padding: 50px 200px !important;
	}
}

.vc_column_container.options-col > .vc_column-inner {
	padding: 0 30px !important;

	@include media-breakpoint-up(sm) {
		padding-left: 60px !important;
		padding-right: 60px !important;
	}

	@media (min-width: 1440px) {
		padding: 0 200px !important;
	}
}

.vc_column_container.speed-col > .vc_column-inner {
	padding: 50px 30px 0 !important;

	@include media-breakpoint-up(sm) {
		padding-left: 60px !important;
		padding-right: 60px !important;
	}

	@media (min-width: 1440px) {
		padding: 80px 200px 0 !important;
	}
}

.vc_row.experience-row {

	padding-top: 60px;
	padding-bottom: 60px;

	.wpb_text_column {
		margin-bottom: 20px;
	}

	.wpb_text_column:before {
		color: $color__primary;
		display: table-cell;
		width: 30px;
		@include fa-icon('\f00c');
	}

	.wpb_text_column .wpb_wrapper {
		display: table-cell;

		p {
			font-size: 15px;
			color: #666;
		}

		br {
			display: none;
		}

		strong {
			display: block;
			font-size: 20px;
			font-weight: 600;
			color: $color__secondary;
			margin-bottom: 5px;
		}
	}

	@include media-breakpoint-up(lg) {
		padding-top: 90px;
		padding-bottom: 90px;

		> .wpb_column:last-child {
			padding-left: 50px;
		}
	}
}

.vc_row.functions-row {

	.vc_row.vc_inner .wpb_column {
		background-color: #ffffff;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
		min-height: 200px;
		padding: 30px;
	}

	.wpb_single_image {

		@include media-breakpoint-up(sm) {
			display: table-cell;
			min-width: 130px;
		}
	}

	.wpb_text_column {
		font-size: 15px;
		color: #666666;

		@include media-breakpoint-up(lg) {
			display: table-cell;
		}
	}

	.wpb_text_column h4 {
		font-size: 18px;
		line-height: 23px;
		margin-top: 0;
		margin-bottom: 15px;
	}
}

.vc_row.purchase-row {
	padding: 30px 0 80px;

	.vc_custom_heading {
		margin-bottom: 30px;
	}

	.tm-robin-button {
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);

		&:hover {
			box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
		}
	}

	@include media-breakpoint-up(lg) {
		padding: 150px 0;
	}
}
