/**
--------------------------------------------------------------
ADMIN CSS
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Redux
# Visual Composer
--------------------------------------------------------------*/

/*
Redux
================================================
*/
.redux-container-image_select .redux-image-select .redux-image-select {
	margin-bottom: 10px !important;
}

.redux-container-button_set .ui-button-text {
	padding: 0;
}

#tm_robin_options-archive_sidebar_config .redux-image-select,
#tm_robin_options-page_sidebar_config .redux-image-select,
#tm_robin_options-post_sidebar_config .redux-image-select,
#tm_robin_options-search_sidebar_config .redux-image-select,
#tm_robin_options-shop_sidebar_config .redux-image-select,
#tm_robin_options-product_sidebar_config .redux-image-select,
#tm_robin_options-products_hover .redux-image-select {
	margin-right: 20px !important;
}

#tm_robin_options-products_hover .redux-image-select {
	vertical-align: top;
}

/* Metabox in product page */
.cmb2-metabox .ui-tabs-vertical {
	border: 0;
	font-size: inherit;
	font-family: inherit;
	background: #f7f7f7 none;
	padding: 0;
}

.cmb2-metabox .ui-tabs-vertical .ui-tabs-nav {
	background: none;
	border: none;
	margin-top: 10px;
	padding: 0;
}

.cmb2-metabox .ui-tabs-vertical .ui-tabs-nav li {
	background: none;
	border: none;
	border-radius: 0;
	padding-bottom: 0;
	padding-right: .1em;
	margin-right: 0;
	margin-top: 0;
}

.cmb2-metabox .ui-tabs.ui-tabs-vertical .ui-tabs-nav a.ui-tabs-anchor {
	color: #0073aa;
}

.cmb2-metabox .ui-tabs.ui-tabs-vertical .ui-tabs-nav a.ui-tabs-anchor:hover {
	color: #00A0D3;
}

.cmb2-metabox .ui-tabs-vertical .ui-tabs-panel {
	border-width: 1px;
	background-color: #ffffff;
	padding: 20px;
}

.cmb-type-slider .cmb2-slider-value-display {
	float: none;
}

/* VC shortcode icons */
.vc_element-icon[class*=robin-icon-] {
	background: url(../images/vc-icon.png) no-repeat center center !important;
	background-size: 100%;
}

/**
VC Param CSS.
*/
.tm_number {
	display: inline-block;
	vertical-align: top;
}

.tm_number span {
	line-height: 40px;
	margin-left: 10px;
}

.tm_number input[type='number'] {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	-moz-appearance: textfield;
	height: 40px;
	width: 70px;
	margin: 0;
}

.tm_number input[type=number]::-webkit-inner-spin-button, .tm_number input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.tm_number .minus, .tm_number .plus {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	width: 30px;
	height: 40px;
	border: 1px solid #dddddd;
	background-color: #eeeeee;
	color: #888888;
	margin: 0;
	padding: 0;
}

.tm_number .minus {
	border-right-width: 0;
}

.tm_number .plus {
	border-left-width: 0;
}

.tm_number .minus:focus, .tm_number .plus:focus {
	outline: none;
	border-color: #5b9dd9;
	border-width: 1px !important;
	-webkit-box-shadow: 0 0 2px rgba(30, 140, 190, .8);
	box-shadow: 0 0 2px rgba(30, 140, 190, .8);
}

/* Fix color picker on WP 4.9.x*/
.button.wp-color-result {
	position: relative;
}
