/**
 * Global settings.
 */

// Colours

$global-colors: (
  brand: (
    base: #fbb900,
  ),
  grayscale: (
    base: #000,
    dark: #3c3c3c,
    mid: #676c71,
    light: #b1b9c3,
    off-white: #ededed
  ),
  notifications: (
    base: #fbb900,
  )
) !default;

/**
 * Grabs colors from the map using `color(brand, secondary)` or `color(brand)`.
 *
 * @param {string} $palette
 * @param {string} $tone ['base']
 * @param {string} $default [$global-colors]
 *
 * @return {string}
 */

@function color($palette, $tone: 'base', $default: $global-colors) {
  @return map-get(map-get($default, $palette), $tone);
}
