/**
 * Header.
 */

// Navigation.

#menu-primary-menu li:last-child {
  display: none;
}

// Search

// This fixup is done by CSS because the theme layout
// does not provide us any filter to change the column width.
// In that case a CSS rule in better then a template overriding.
.search-dropdown-wrapper .col-xl-6 {
  flex: 0 0 100%;
  max-width: 100%;
}
