.tm-robin-countdown {
	opacity: 0;

	@extend %transit;

	&.is-countdown {
		opacity: 1;
		background-color: #ffffff;
		border: none;
	}

	.countdown-section {
		float: none;
		display: inline-block;
		vertical-align: top;
		text-align: center;
		line-height: 1;
		max-width: 130px;
		word-wrap: normal;
		border-right: 2px solid transparent;
		padding: 10px 24px;
		margin-bottom: 10px;

		&:first-child {
			border-left: 2px solid transparent;
		}

		@include media-breakpoint-down(md) {
			border: none !important;
			width: auto;
		}

		@include media-breakpoint-between(sm, md) {
			padding: 10px 30px 10px 0;
		}

		@include media-breakpoint-down(sm) {
			padding-left: 0;
			padding-right: 18px;
		}
	}

	.countdown-amount {
		display: block;
		font-weight: 700;
		padding-bottom: 12px;

		@include media-breakpoint-down(md) {
			font-size: 40px !important;
		}
	}

	.countdown-period {
		display: block;

		@include media-breakpoint-down(md) {
			font-weight: 400 !important;
		}
	}

}
