// Product grid, carousel and widget

.tm-products-filter ul {
	list-style: none;
	text-align: center;
	margin: 0 0 60px;
	padding: 0;

	li {
		display: inline-block;
		padding-bottom: 7px;
		margin-left: -4px;

		&:first-of-type {
			margin-left: 0;
		}

		a:hover:after,
		a.active:after {
			width: 100%;
		}

		> a {
			position: relative;
			font-size: 24px;
			font-weight: 700;
			color: #888888;
			padding-bottom: 10px;
			margin: 0 20px;

			&.active {
				color: #111111;
			}

			&:after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: -1px;
				height: 3px;
				width: 0;
				transform: translateX(-50%);

				@extend %transit;
			}

			&:hover:after {
				width: 100%;
			}

		}
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: 30px;

		li {
			padding-top: 10px;
			border: none;

			> a {
				display: inline-block;
				padding-bottom: 5px;
			}
		}
	}
}

.tm-robin-products-grid,
.tm-robin-products-carousel {

	.vc_tta-panel-body & {

		.animated.product {
			animation-duration: .4s;
		}
	}
}

.tm-robin-products-carousel {

	.products {
		opacity: 0;

		@extend %transit;

		&.slick-initialized {
			opacity: 1;
		}

		.slick-slide a {
			margin-left: 0;
			margin-right: 0;
		}

		@include media-breakpoint-down(xs) {

			.slick-arrow.slick-next {
				right: 10px;
			}

			.slick-arrow.slick-prev {
				left: 10px;
			}

			.slick-slide {
				opacity: .5;
			}

			.slick-current {
				opacity: 1;
			}
		}

		@include media-breakpoint-up(xl) {

			.slick-arrow.slick-next {

				opacity: 0;
				visibility: hidden;
				right: -50px;

			}

			.slick-arrow.slick-prev {
				opacity: 0;
				visibility: hidden;
				left: -50px;
			}

			&:hover {

				.slick-arrow {
					opacity: .6;
					visibility: visible;
				}

				.slick-arrow.slick-next {
					right: -30px;
				}

				.slick-arrow.slick-prev {
					left: -30px;
				}
			}
		}

		.slick-track.filtering {
			transform: translate3d(0, 0, 0) !important;

			.product {
				width: auto !important;
			}
		}
	}

	.product {
		animation: zoomIn .25s;
	}

}

.tm-robin-products-widget {
	margin-bottom: 30px;

	.title {
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .09em;
		margin-bottom: 35px;
		position: relative;
		font-weight: 700;
		color: #111111;
	}

	.slick-dots {
		margin-top: 30px;
	}

	.slick-arrow {
		width: 40px;
		height: 40px;

		&:before {
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 40px;
		}

		&.slick-prev {
			left: -30px;
		}

		&.slick-next {
			right: -30px;
		}
	}

	.slick-arrow.small {
		width: 30px;
		height: 30px;
		color: #111111;
		border: 1px solid #111111;
		background-color: #ffffff;

		&:hover {
			color: #ffffff;
			background-color: #111111;
		}

		&:focus {
			border: 1px solid #111111 !important;
		}

		&:before {
			width: 28px;
			height: 28px;
			line-height: 28px;
			font-size: 12px;
		}

		&.slick-prev {
			left: auto;
			right: 35px;
		}

		&.slick-next {
			right: 0;
		}

		@include media-breakpoint-down(sm) {

			border: none;
			background-color: transparent !important;

			&.slick-prev {
				left: auto;
				right: 10px;
			}

			&.slick-next {
				right: -10px;
			}

		}
	}

	.slick-arrows-bottom {
		position: relative;
		text-align: right;
		margin-top: 30px;

		.slick-arrow {
			position: relative;
			left: auto !important;
			right: auto !important;
			top: auto !important;

			transform: translateY(0);
		}
	}

	.product {
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.product-title {
		font-weight: 600;
		color: #111111;
	}

	.product-buttons {
		font-size: 0;
		position: absolute;
		bottom: 0;
		left: 20px;

		> div {
			display: inline-block;
			vertical-align: top;
			width: 38px;
			height: 38px;
			text-align: center;
			margin-right: 5px;

			a {
				display: block;
				height: 38px;
				width: 38px;
				line-height: 38px;
				color: #999999;
				background-color: #ededed;
				border: none;
				border-radius: 0;
				padding: 0;
			}

			a:before {
				font-size: 15px;
				line-height: 38px !important;

				@extend %fa-icon;
			}

			a:focus {
				outline: none;
			}

			a:hover {
				color: #ffffff !important;
			}
		}
	}

	.yith-wcwl-add-to-wishlist {
		display: inline-block;
		margin-top: 0;

		.ajax-loading {
			display: none !important;
		}

		a {
			display: block;
			color: #999999;
		}

		.yith-wcwl-add-button {

			a.add_to_wishlist {

				&:before {
					display: inline-block;
					content: '\f08a';
				}

				&.loading {

					&:before {
						content: url(assets/images/loading.svg);
						vertical-align: -10px;
					}
				}
			}
		}

		.yith-wcwl-wishlistaddedbrowse,
		.yith-wcwl-wishlistexistsbrowse {

			a {

				&:before {
					content: '\f004';
				}
			}

			.feedback {
				display: none;
			}
		}
	}

	.add-to-cart-btn {

		a.loading {
			font-size: 0;

			&:before {
				content: url(assets/images/loading.svg);
				position: absolute;
				top: 5px;
				left: 8px;
				line-height: 0;
				width: 0;
			}
		}

		a:not(.loading) {

			&:before {
				@include fa-icon('\f06e');
			}

			&.add_to_cart_button:before {
				content: '\f291';
			}

			&.product_type_variable {

				&:before {
					content: '\f046';
				}

				&.isw-ready:not(.loading):not(.added) {
					&:before {
						content: '\f291';
					}
				}

				&.isw-readmore:not(.loading):not(.added) {
					&:before {
						content: '\f06e';
					}
				}
			}

			&.product_type_external:before {
				content: '\f291';
			}
		}

		a.added:before {
			content: '\f00c' !important;
		}

		a.added:hover:before {
			color: #ffffff !important;
		}

		a.added_to_cart {
			display: none;
		}
	}

	.compare-btn {

		&.loading a:before {
			content: url(assets/images/loading.svg);
			position: absolute;
			top: 5px;
			left: 8px;
			line-height: 0;
			height: 0;
		}

		a:before {
			content: '\f0ec';
		}

		.blockUI,
		.blocOverlay {
			display: none !important;
		}
	}

	&.enable-carousel {

		.product_list_widget {
			opacity: 0;

			&.slick-initialized {
				opacity: 1;
			}
		}
	}
}

.tm-product-details {

	&.enable-carousel .product_list {
		opacity: 0;

		@extend %transit;

		&.slick-initialized {
			opacity: 1;
		}

		.slick-dots {
			margin-top: -30px;
			margin-bottom: 40px;
		}

		.slick-arrow {
			@include media-breakpoint-down(md) {
				top: 0;
				right: 0;
				background-color: #ffffff !important;
				box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);

				@include transform(translateY(0));
			}
		}

		.slick-arrow.slick-next {
			@include media-breakpoint-up(xl) {
				right: -80px;
			}

			@include media-breakpoint-up(lg) {
				right: -30px;
			}
		}

		.slick-arrow.slick-prev {

			@include media-breakpoint-up(xl) {
				left: -80px;
			}

			@include media-breakpoint-up(lg) {
				left: -50px;
			}

			@include media-breakpoint-down(md) {
				left: auto;
				right: 50px;
			}
		}

		@include media-breakpoint-down(md) {
			padding-top: 60px;
		}

	}

	&.disable-carousel .product_list {

		@include media-breakpoint-up(xl) {
			.woocommerce.single-product .row {
				@include align-items(center);
			}
		}
	}

	&.full-width {

		@include media-breakpoint-up(lg) {

			.product_list {
				max-width: 100%;
			}

			.woocommerce.single-product {

				.images {
					padding: 0;
				}

				.product .summary {
					padding: 0 40px;
				}

				.product_title {
					position: relative;

					&:after {
						content: '';
						position: absolute;
						height: 1px;
						width: 100px;
						top: 50%;
						background-color: #222222;
						transform: translateY(-50%);
					}
				}

				&.even {
					.product_title:after {
						left: -130px;
					}
				}

				&.odd {
					.product_title:after {
						right: -130px;
					}
				}
			}
		}

		@include media-breakpoint-up(xl) {

			.product.container {
				max-width: 100%;
			}

			.row {
				margin: 0;
			}

			.woocommerce.single-product .product .summary {
				padding: 0 100px;
			}
		}
	}

	&.no-spacing {

		@include media-breakpoint-up(xl) {

			.woocommerce.single-product,
			.woocommerce.single-product .images {
				margin-bottom: 0;
			}
		}
	}

	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

	.product_list {
		max-width: 960px;
		margin: 0 auto;
	}

	.woocommerce.single-product {
		margin-bottom: 30px;

		.product.container {
			padding: 0;
		}
	}

	.woocommerce.single-product .product .images {
		position: relative;

		.design-2-images img {

			@include media-breakpoint-up(lg) {
				float: left;
				width: 50%;
			}

			@include media-breakpoint-down(md) {
				&:last-child {
					display: none;
				}
			}

			&.only-one {
				width: 100%;
			}
		}

		.design-carousel {
			opacity: 0;

			@extend %transit;

			&.slick-initialized {
				opacity: 1;
			}
		}

		.slick-dots {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			margin: 0;
		}
	}

	.woocommerce.single-product .product .summary {

		.price {
			margin-bottom: 5px;
		}

		.description,
		.product-meta-buttons,
		.product_meta,
		.product-share {
			display: none;
		}

		table.variations tr td:first-of-type {
			padding-left: 0;
		}

		.cart .quantity,
		.cart .button {
			margin-bottom: 30px;
		}

		.more-details a {
			display: inline-block;
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: underline;
			letter-spacing: .1em;
			color: #999999;
		}
	}
}

.tm-robin-products-grid .product-loop {

	@extend %transit;

	&.adding-item {
		opacity: 0;
		visibility: hidden;
	}
}

.tm-loadmore-wrap {
	text-align: center;
	margin-top: 30px;

	button {
		@extend %transit;
	}

	&.loading {
		cursor: wait;
	}

	&.loading button:before {
		content: url(assets/images/loading.svg);
		vertical-align: -2px;
		margin-right: 10px;
	}
}

@include media-breakpoint-down(sm) {

	.vc_tta-panel-body .tm-shortcode .products {
		margin-left: -5px;
		margin-right: -5px;
	}
}
