.tm-robin-testimonial-carousel {
	opacity: 0;
	text-align: center;
	margin-bottom: 0 !important;

	img {
		margin: 0 auto 30px;
	}

	p{
		font-size: 18px;
	}

	.tm-robin-testimonial-carousel__text {
		padding: 0 70px;
		text-align: center;
		margin-bottom: 30px;

		@include media-breakpoint-down(md) {
			padding: 0 40px;
		}

		.gray-box & {
			padding: 0 50px;

			@include media-breakpoint-down(sm) {
				padding: 0;
			}
		}
	}

	.box-cite {
		margin: 0 auto;
	}

	.tm-robin-testimonial-carousel__cite,
	.tm-robin-testimonial-carousel__sub-cite {
		margin: 0 auto;
		line-height: 1.6em;
	}

	.tm-robin-testimonial-carousel__cite {
		font-weight: 700;
		color: #111111;
		font-size: 18px;
	}

	.tm-robin-testimonial-carousel__sub-cite {
		bottom: -10px;
		max-width: 120px;
		margin: 0 auto;
	}

	.slick-list {
		padding-bottom: 30px;
	}

	.gray-box & {
		padding-left: 150px;

		@include media-breakpoint-down(lg) {
			padding: 0;
		}
	}

}
