.vc_tta-panel-body {
	box-sizing: border-box !important;
}

// Tabs
.wpb-js-composer .vc_tta-tabs.vc_tta-style-robin.vc_tta-style-robin {

	.vc_tta-panel {
		@extend %transit;
	}

	.vc_tta-panel-body {
		border-width: 0;
	}

	.vc_tta-tabs-list {
		margin-bottom: 30px;
	}

	.vc_tta-tab {
		color: #888888;
		padding-bottom: 7px;
	}

	.vc_tta-tab > a {
		position: relative;
		font-size: 24px;
		font-weight: 700;
		border: none;
		margin: 0 20px;
		padding: 0 0 10px;

		@extend %transit;
	}

	.vc_tta-tab > a > span {

		cursor: pointer;
	}

	.vc_tta-panel .vc_tta-panel-title > a {
		display: inline-block;
		color: #888888;
		border: none;
		padding: 0;

		@extend %transit;
	}

	.vc_tta-panel-title {
		font-weight: 700;
		line-height: 1.5;
		padding-bottom: 30px;
	}

	.vc_tta-panel-heading {
		border: none;
	}

	.vc_tta-tab > a,
	.vc_tta-panel .vc_tta-panel-title > a {
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: -10px;
			height: 3px !important;
			width: 0 !important;
			display: block !important;
			border: none !important;
			transform: translateX(-50%);

			@extend %transit;
		}
	}

	.vc_tta-tab > a:hover:after,
	.vc_tta-tab.vc_active > a:after,
	.vc_tta-panel .vc_tta-panel-title > a:hover:after,
	.vc_tta-panel.vc_active .vc_tta-panel-title > a:after {
		width: 100% !important;
	}

	&.vc_tta-controls-align-left .vc_tta-tab:first-child > a {
		margin-left: 0;
	}

	&.vc_tta-controls-align-right .vc_tta-tab:last-child > a {
		margin-right: 0;
	}
}

// Accordion
.wpb-js-composer .vc_tta-accordion.vc_tta-style-robin.vc_tta-style-robin {

	.vc_tta-panel .vc_tta-panel-heading {
		border-top-width: 0;
		border-right-width: 0;
		border-left-width: 0;
		border-bottom: 1px solid #eeeeee;

		@extend %transit;
	}

	.vc_tta-panel:first-child .vc_tta-panel-heading {
		border-top: 1px solid #eeeeee;
	}

	.vc_tta-panel.vc_active {
		border-bottom: 1px solid #eeeeee;
	}

	.vc_tta-panel.vc_active .vc_tta-panel-heading {
		background-color: #eeeeee;
	}

	.vc_tta-panel-title {
		font-size: 18px;
		font-weight: 600;
		color: #444444;
	}

	.vc_tta-panel-body {
		border: none !important;
		padding: 30px 0 !important;
	}

}

// Toggle
.wpb-js-composer .vc_toggle.vc_toggle_robin.vc_toggle_robin {
	margin-bottom: 20px;

	.vc_toggle_title {
		@extend %transit;
	}

	.vc_toggle_title h4 {
		font-size: 18px;
		font-weight: 600;
		line-height: 1;
		color: #444444;
		display: block;
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
		margin: 0;
		padding: 14px 20px;
	}

	&.vc_toggle_active {

		.vc_toggle_title {
			background-color: #eeeeee;
		}

		.vc_toggle_content {
			border-bottom: 1px solid #eeeeee;
		}
	}

	+ .vc_toggle.vc_toggle_robin.vc_toggle_robin {
		margin-top: -20px;

		.vc_toggle_title h4 {
			border-top-width: 0;
		}
	}

	.vc_toggle_content {
		margin: 0;
		padding: 30px 0;
	}
}
