.tm-robin-team-members {
	margin-bottom: 30px;

	img {
		display: block;
		margin-bottom: 25px;
	}

	.name {
		font-size: 18px;
		font-weight: 600;
		line-height: 1.4;
		margin-bottom: 10px;
	}

	.role {
		display: block;
		overflow: hidden;
		letter-spacing: .03em;
		margin-bottom: 10px;
	}

	.biography {
		font-size: 15px;
		letter-spacing: .03em;
		line-height: 1.6;
		margin-top: 15px;
	}
}
