.tm-robin-mailchimp {

	.title {
		font-size: 36px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 30px;

		&:after {
			content: '';
			display: block;
			height: 2px;
			width: 100px;
			margin-top: 25px;
		}
	}

	input {
		height: 44px;
		vertical-align: middle;
		margin-bottom: 30px;
	}

	label {
		display: none;
	}

	p {
		display: inline-block;
	}

	p:first-of-type {
		max-width: 560px;
		width: 100%;
		position: relative;
		z-index: 1;
		&:after {
			z-index: 2;
			position: absolute;
			right: 20px;
			top: 50%;
			margin-top: -12px;
		}
	}

	input[type="email"],
	input[type="text"] {
		font-size: 16px;
		font-style: italic;
		border-width: 0;
		border-bottom-width: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}

	button {
		padding: 12px 22px;
		margin-top: 10px;
	}
}

.tm-robin-mailchimp.text-xs-center {

	.title:after {
		margin-right: auto;
		margin-left: auto;
	}

	input[type="email"],
	input[type="text"] {
		text-align: center;
	}
}
