.tm-robin-social {

	&.shape-circle .social-links li i {
		border-radius: 100%;

		span.hover-mask {
			border-radius: 100%;
		}
	}

	&.shape-square .social-links li i,
	&.shape-circle .social-links li i {
		height: 2.5em;
		width: 2.5em;
		line-height: 2.5;
	}
}

.tm-robin-social .social-links li {
	display: block;
	margin-bottom: 30px;
	margin-right: 0;

	&:hover span.hover-mask {
		animation: social-hover 800ms ease;
	}

	@include media-breakpoint-up(md) {
		display: inline-block;
		margin-right: 2em;
	}

	@include media-breakpoint-up(lg) {
		margin-right: 3em;
	}

	@include media-breakpoint-up(xl) {
		margin-right: 5em;
	}
}

.tm-robin-social .social-links li:last-child {
	margin-right: 0;
}

.tm-robin-social .social-links li i {
	position: relative;
	z-index: 2;
	margin-bottom: 10px;
}

.tm-robin-social span.hover-mask {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 2.5;
	background-color: #000000;
	z-index: -1;
	transform: translate(-50%, -50%);
}

.tm-robin-social span.icon-title {
	display: block;
	font-size: 16px;
	color: $color__secondary;
	margin-right: -5px;
}

.tm-robin-social span.icon-title:after {
	font-size: 12px;
	margin-left: 5px;

	@include fa-icon('\f0da');
}
