.tm-robin-banner-with-button {
	text-align: center;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;

	&:before {
		content: '';
		opacity: 0;
		background-color: rgba(255, 255, 255, .6);
		z-index: 1;

		@extend %transit;
		@extend %absolute-center;
	}

	&.hover-zoom-in:hover img {
		transform: scale(1.1);
	}

	&.hover-blur:hover img {

		@include filter(blur(2px));

	}

	&.hover-grayscale:hover img {
		@include filter(grayscale(100%));
	}

	&.hover-white-overlay {

		&:before {
			opacity: 0;
			background-color: rgba(255, 255, 255, .8);
		}

		&:hover:before {
			opacity: 1;
		}
	}

	&.hover-black-overlay {

		&:before {
			opacity: 0;
			background-color: rgba(0, 0, 0, .8);
		}

		&:hover:before {
			opacity: 1;
		}
	}

	img {
		backface-visibility: hidden;
		transition: all .5s linear;
	}

	.banner-content {
		position: absolute;
		top: 50%;
		left: 8%;
		max-width: 50%;
		transform: translateY(-50%);
		z-index: 2;
	}

	.center {
		text-align: center;
	}

	.left {
		text-align: left;
	}

	.right {
		text-align: right;
	}

	.description {
		line-height: 1.5;
	}

	.second-line {
		margin-bottom: 15px;
	}

	.description {
		margin-bottom: 25px;
	}

	@include media-breakpoint-down(md) {

		.first-line {
			font-size: 24px !important;
		}

		.second-line {
			font-size: 24px !important;
		}

		.description {
			margin-bottom: 10px;
		}

		.banner-content {
			left: 50%;
			width: 90%;
			max-width: 90%;
			transform: translate(-50%, -50%);
		}

		.banner-button {
			color: $color__secondary !important;
			border: none !important;
			background-color: transparent !important;
			padding: 0 !important;
		}

		&:before {
			opacity: 1 !important;
			background-color: rgba(255, 255, 255, .6) !important;
		}

		&.hover-black-overlay:before {
			background-color: rgba(0, 0, 0, .6) !important;
		}

		&.hover-black-overlay button {
			color: #ffffff !important;
		}
	}
}
