.vc_custom_heading {

	&.style-robin {
		font-weight: 700;

		> span {
			display: inline-block;

			&:after {
				content: '';
				display: block;
				height: 2px;
				width: 100px;
				margin-top: 15px;
				background-color: #CCCCCC;
			}

		}
	}

	&.align-center > span:after {
		margin-left: auto;
		margin-right: auto;
	}

	&.align-right > span:after {
		margin-left: auto;
		margin-right: 0;
	}
}
