.wpcf7 {

	input[type='text'],
	input[type='number'],
	input[type='email'],
	input[type='tel'],
	textarea {
		font-size: 15px;
		padding: 10px 20px;
	}

	textarea {
		font-size: 15px !important;
	}
}
