.tm-robin-simple-banner {
	position: relative;
	text-align: center;
	margin-bottom: 30px;

	&:after {
		content: '';
		display: block;
		background-color: rgba(255, 255, 255, .9);
		z-index: 0;
		opacity: 0;

		@extend %transit;
		@extend %absolute-center;
	}

	&:hover {
		&:after, .banner-content {
			opacity: 1;
		}

		.banner-content > * {
			transform: translateY(0);
		}
	}

	a.banner-link {
		font-size: 0;
		z-index: 1;

		@extend %absolute-center;
	}

	.banner-content {
		opacity: 0;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		z-index: 2;
		transform: translateY(-50%);
		color: $color__secondary;

		@extend %transit;

		> * {
			transition-duration: .5s;

			@extend %transit;
		}
	}

	.first-line {
		font-size: 13px;
		text-transform: uppercase;
		margin-bottom: 10px;
		transform: translateY(40px);
	}

	.second-line {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 15px;
		transform: translateY(50px);
	}

	.third-line {
		transform: translateY(60px);
		margin-bottom: 25px;

		&:after {
			content: '';
			display: block;
			width: 40px;
			height: 2px;
			margin: 20px auto;
		}
	}

	.banner-button {
		padding: 8px 24px;
		transform: translateY(100px);
	}


	@include media-breakpoint-down(lg) {

		.first-line {
			line-height: 1;
			margin-top: 10px;
		}

		.second-line {
			font-size: 20px;
			margin-bottom: 10px;
		}

		.third-line {
			margin-bottom: 10px;
		}

		.third-line:after {
			margin: 10px auto;
		}

		.banner-button {
			color: $color__secondary !important;
			border: none !important;
			background-color: transparent !important;
			padding: 0;
		}
	}

	@include media-breakpoint-down(sm) {

		&:after,
		.banner-content {
			display: none;
		}
	}
}
