.mobile-menu-btn {

	margin-right: -10px;

	svg {
		display: inline-block;
		vertical-align: -2px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		transform: translate3d(0, 0, 0);
	}

	path {
		-webkit-transition: stroke-dashoffset .5s cubic-bezier(.25, -.25, .75, 1.25), stroke-dasharray .5s cubic-bezier(.25, -.25, .75, 1.25);
		-moz-transition: stroke-dashoffset .5s cubic-bezier(.25, -.25, .75, 1.25), stroke-dasharray .5s cubic-bezier(.25, -.25, .75, 1.25);
		-ms-transition: stroke-dashoffset .5s cubic-bezier(.25, -.25, .75, 1.25), stroke-dasharray .5s cubic-bezier(.25, -.25, .75, 1.25);
		-o-transition: stroke-dashoffset .5s cubic-bezier(.25, -.25, .75, 1.25), stroke-dasharray .5s cubic-bezier(.25, -.25, .75, 1.25);
		transition: stroke-dashoffset .5s cubic-bezier(.25, -.25, .75, 1.25), stroke-dasharray .5s cubic-bezier(.25, -.25, .75, 1.25);
		fill: none;
		stroke-width: 40px;
		stroke-linecap: round;
		stroke: #666666;
		stroke-dashoffset: 0;

		&#top,
		&#bottom {
			stroke-dasharray: 240px 950px;
		}

		&#middle {
			stroke-dasharray: 240px 240px;
		}
	}

	&.is-active {

		path#top,
		path#bottom {
			stroke-dashoffset: -650px;
		}

		path#middle {
			stroke-dashoffset: -115px;
			stroke-dasharray: 1px 220px;
		}

	}

	@include media-breakpoint-only(lg) {

		svg {
			width: 60px;
			height: 60px;
		}

		.hamburger {
			transform: scale(1.2);
		}

		.hamburger-inner,
		.hamburger-inner:before,
		.hamburger-inner:after {
			height: 2px;
		}
	}
}

.site-mobile-menu {
	position: fixed;
	left: 0;
	z-index: 1000;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	width: 270px;
	height: 100%;
	background-color: #f5f5f5;
	-webkit-overflow-scrolling: touch;
	transform: translate3d(-100%, 0, 0);
	transition: transform .25s ease, z-index .1s ease;

	.mobile-menu-opened & {
		transform: translate3d(0, 0, 0);
	}

	.mobile-search-opened & {
		display: none;
	}

	.menu > ul,
	.menu {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.menu-item-icon {
		margin-right: 10px;
	}

	.menu > ul li.page_item,
	.menu li.menu-item {
		display: block;
		clear: both;
		padding-left: 20px;
		padding-right: 20px;
		border-bottom: 1px solid #e6e6e6;
		vertical-align: top;

		&.hide {
			display: none;
		}

		&.over {

			> .children,
			> .sub-menu {
				transform: translateX(0);
			}
		}

		&.mega-menu {

			.sub-menu {

				.menu-item-object-ic_mega_menu {
					padding-top: 20px;
					padding-bottom: 20px;

					.open-child {
						display: none;
					}
				}

				.mega-menu-content {
					padding: 0;
				}
			}
		}

		&.page_item_has_children,
		&.menu-item-has-children {
			padding-right: 0;
		}

		> a {
			display: block;
			text-transform: uppercase;
			font-weight: 500;
			line-height: 40px;
			z-index: 1;
		}

		.open-child {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			float: right;
			font-size: 0;
			line-height: 0;
			z-index: 2;
			background-color: rgba(239, 239, 239, .8);
			padding-right: 20px;
			padding-left: 20px;

			&:before {
				display: block;
				color: #cccccc;
				font-size: 20px;
				line-height: 40px;

				@include fa-icon('\f105');
			}
		}
	}

	.menu > ul > li .children,
	.menu > li .sub-menu {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		float: left;
		margin: 0;
		padding: 0;
		min-height: 100% !important;
		width: 100% !important;
		height: 100vh !important;
		background-color: #f5f5f5;
		list-style: none;
		transform: translateX(100%);
		@extend %transit;
	}

	.menu-back {
		position: relative;
		display: block;
		text-align: center;
		background-color: #e6e6e6;
		border-bottom: 1px solid #e6e6e6;

		a {
			text-transform: uppercase;
			font-weight: 600;
			line-height: 40px;
			opacity: .5;
		}

		&:before {
			position: absolute;
			top: 0;
			left: 15px;
			display: inline-block;
			font-size: 20px;
			line-height: 39px;

			@include fa-icon('\f104');
		}
	}

	@include media-breakpoint-up(md) {
		top: auto !important;

		@include media-breakpoint-down(lg) {

			width: 600px;
		}
	}

	@include media-breakpoint-only(lg) {

		.admin-bar & {
			top: 32px;
		}
	}

	@include media-breakpoint-up(xl) {
		display: none;
	}
}

.site-mobile-menu #searchform {
	position: relative;
	padding: 10px;
	background-color: #e6e6e6;

	input[type='text'] {
		padding: 9px 15px;
	}

	button {
		position: absolute;
		top: 50%;
		right: 20px;
		background-color: transparent;
		border: none;
		color: #aaaaaa;
		font-size: 0;
		padding: 0;
		transform: translateY(-50%);

		&:after {
			font-size: 18px;
			line-height: 40px;

			@include fa-icon('\f002');
		}
	}
}
