.error404 {
	overflow: hidden;
}

.error404 .site-header {
	position: absolute;
	width: 100%;
	left: 0;
	border: none;
	background-color: transparent;
	margin-bottom: 0;
}

.error404 .site-logo {
	height: 90px;
}

.area-404 {
	text-align: left;
}

.area-404__heading {
	font-size: 90px;
	font-weight: 700;
	letter-spacing: -.02em;
	line-height: 1.2em;
	margin: 0;

	@include media-breakpoint-up(md) {
		font-size: 200px;
	}
}

.area-404__sub-heading.area-404__sub-heading,
.error404 .area-404__content-heading {
	font-size: 36px;
	letter-spacing: 0;
	color: #333333;
	font-weight: 700;
	line-height: 1.6em;
	margin: 0;
}

.area-404__content {
	height: 100vh;
}

.error404 .site-breadcrumbs {
	display: none !important;
}

.error404 .area-404__content-heading {
	color: #666666;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 35px;
}

.error404 .col-404 {
	@include media-breakpoint-up(md) {
		margin-top: -250px;
	}
}





