// Minicart on the header
.header-minicart {
	position: relative;
	padding-left: 23px;

	> a.toggle {
		position: relative;
		font-size: 16px;

		.minicart-text {
			position: absolute;
			top: -5px;
			left: calc(100% - 5px);
			height: 16px;
			line-height: 16px;
			font-size: 12px;
			font-weight: 700;
			text-align: center;
			border-radius: 10px;
			z-index: 1;
			padding: 0 5px;
		}

		.minicart-devider,
		.minicart-total {
			display: none;
		}
	}

	.minicart-dropdown-wrapper {
		position: absolute;
		top: 180%;
		right: 0;
		z-index: 20;
		visibility: hidden;
		width: 320px;
		background-color: #ffffff;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
		opacity: 0;

		@extend %transit;
	}

	.widget_shopping_cart {
		margin-bottom: 0;
	}

	.widget_shopping_cart_content {
		padding: 20px;
	}

	.widget_shopping_cart .widget_minicart_title {
		display: block;
		font-weight: 600;
		text-transform: uppercase;
		color: $color__secondary;
		border-bottom: 1px solid #eeeeee;
		padding-bottom: 5px;

		.undo {
			visibility: hidden;
			float: right;
			text-transform: none;
			font-weight: 400;
			font-size: 11px;
			opacity: 0;

			@extend %transit;

			&.visible {
				visibility: visible;
				opacity: 1;
			}

			a {
				text-decoration: underline;
			}
		}

		.close-on-mobile {
			float: right;
			font-size: 0;
			margin-right: -20px;
			margin-top: -20px;
			color: #222222;

			&:before {
				font-size: 50px;

				@include pe-icon('\e680');
			}
		}
	}

	.product_list_widget {
		max-height: 330px;

		&.loading {

			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
				content: url(assets/images/loading.svg);
				transform: translate(-50%, -50%);
			}

			&:after {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 0;
				background-color: #ffffff;
				content: '';
				opacity: .9;
			}
		}
	}

	@include media-breakpoint-down(sm) {

		padding-left: 25px;
		padding-right: 10px;

		> a.toggle i {
			margin-left: 0;
		}
	}

	@include media-breakpoint-down(lg) {

		.minicart-dropdown-wrapper {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1000;
			display: block;
			visibility: visible;
			overflow: hidden;
			width: 270px;
			height: 100vh;
			box-shadow: none;
			opacity: 1;
			-webkit-overflow-scrolling: touch;
			transform: translate3d(-100%, 0, 0);
			transition: transform .3s ease-in-out;

			.mobile-minicart-opened & {
				transform: translate3d(0, 0, 0);
			}
		}
	}

	@include media-breakpoint-up(md) {
		@include media-breakpoint-down(lg) {

			padding-right: 5px;
		}

	}

	@include media-breakpoint-up(lg) {

		&.minicart-open {

			.minicart-dropdown-wrapper {
				top: 150%;
				visibility: visible;
				opacity: 1;
			}

			.sticky-header.is-sticky & {
				.minicart-dropdown-wrapper {
					top: 100%;
				}
			}
		}
	}

	@media (min-width: 992px) and (max-width: 1439px) {

		.product_list_widget {
			max-height: 200px;
		}
	}
	@media (min-width: 1440px) {

		.product_list_widget {
			max-height: 400px;
		}
	}
}
