/* Switcher Menu */
.switcher-menu {
	border-right: 1px solid #eeeeee;

	&:first-child {
		border-left: 1px solid #eeeeee;
	}

	ul {
		@include list-unstyled;
	}

	@include media-breakpoint-down(lg) {
		display: none !important;
	}
}

/* Switcher Widget */
.switcher {

	&.loading {

		.nice-select {

			&:after {
				top: 25%;
				right: 8px;
				content: url(assets/images/loading.svg) !important;
				transform: scale(.7);
			}
		}
	}

	select {
		display: none;
	}

	/* Drop down style */
	.nice-select {
		border-color: #eeeeee;
		border-top-width: 0;
		border-bottom-width: 0;
		border-left-width: 0;
		border-radius: 0;
		background-color: transparent;

		.topbar & {
			font-size: 12px;
			line-height: 1.2;
			height: auto;
			padding-left: 15px;
		}

		&:after {
			opacity: .4;
			right: 12px;
			color: currentColor;
		}

		img {
			margin-right: 5px;
			max-width: 16px;
			vertical-align: -1px;
		}

		.list {
			z-index: 999;
			margin-top: 0;
			min-width: 110px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
		}
	}

	/* List style */
	.menu {
		border-right: 1px solid #eeeeee;

		> li {
			border-right-width: 0;

			&:after {
				position: absolute;
				top: 50%;
				right: 0;
				width: 1px;
				height: 10px;
				background-color: #dddddd;
				content: '';
				transform: translateY(-50%);
			}

			&:last-child {

				&:after {
					display: none;
				}
			}

			img {
				margin-right: 5px;
				vertical-align: 0;
			}
		}
	}

	@include media-breakpoint-up(lg) {

		+ .topbar-text {
			margin-left: 20px;
		}
	}

	@include media-breakpoint-down(lg) {

		.topbar & {
			display: none;
		}
	}
}
