#page-container {
	position: relative;
	overflow: hidden;
	background-color: #ffffff;

	&:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		width: 0;
		height: 0;
		opacity: 0;
		transition: opacity .3s linear;
		background: rgba(11, 11, 11, .4);

		@media (min-width: 1200px) {
			display: none;
		}
	}

	body.mobile-menu-opened &,
	body.mobile-wishlist-opened &,
	body.mobile-minicart-opened &,
	body.quick-view-opened & {

		&:after {
			width: 100%;
			height: 100%;
			opacity: 1;
		}
	}

	body.mobile-search-opened & {

		&:after {
			z-index: -1;
		}
	}

	body.quick-view-opened & {

		&:after {
			display: block;
			z-index: 999;
		}

		@media (max-width: 992px) {
			&:after {
				display: none;
			}
		}
	}

	.body-boxed & {
		margin: 0 auto;
		max-width: 1200px;
	}
}
