.topbar {
	font-size: 14px;
	height: 50px;
	border-bottom: 1px solid #eeeeee;

	.topbar-text {

		ul {
			margin-bottom: 0;

			@include list-unstyled;
		}

		li {
			display: inline-block;
			margin-right: 25px;

			&:last-child {
				margin-right: 0;
			}

			@include media-breakpoint-down(sm) {
				margin-right: 10px;
			}
		}

		i {
			display: inline-block;
			vertical-align: -1px;
			margin-right: 8px;
		}
	}

	.menu {
		font-size: 0;
		margin: 0;
		padding: 0;
		list-style-type: none;

		> li > .sub-menu.hover-back {
			right: 0 !important;
		}

		li {
			font-size: 14px;
			position: relative;
			display: inline-block;
			vertical-align: middle;
			padding: 0 15px;
			border-right: 1px solid #eeeeee;

			&.menu-item-has-children {
				> a:after {
					opacity: .4;
					font-size: 12px;
					margin-left: 5px;

					@include fa-icon('\f107');
				}
			}

			&:hover {

				> .sub-menu {
					top: 100%;
					z-index: 999;
					visibility: visible;
					opacity: 1;
				}
			}

			&:last-child {
				border-right-width: 0;
			}

			> a {
				display: block;

				> i {
					margin-right: 10px;
				}
			}

			.sub-menu {
				position: absolute;
				top: 90%;
				left: 0;
				z-index: -1;
				visibility: hidden;
				margin: 0;
				padding: 0;
				min-width: 150px;
				background-color: #ffffff;
				box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
				opacity: 0;

				@extend %transit;

				&.hover-back {
					right: 100%;
					left: auto !important;
				}

				li {
					display: block;
					margin: 0;
					padding: 0;
					border: none;
					line-height: initial;

					@extend %transit;

					&:hover {
						transform: translateX(5px);
					}

					a {
						display: block;
						padding: 8px 15px;
					}

					.sub-menu {
						top: -1px;
						left: 100%;
					}
				}
			}
		}
	}

	.topbar-left {

		> div {
			float: left;
		}

		&.text-xs-center > div {
			float: none;
			display: inline-block;
			vertical-align: top;
		}
	}

	.topbar-right {

		> div, > ul {
			float: right;
		}
	}

	@include media-breakpoint-up(lg) {

		.header-overlap & {
			position: absolute;
			width: 100%;
			top: 0;
			z-index: 100;
		}

		> .container.wide {
			max-width: 95%;
		}

		.switcher-menu + .topbar-text {
			padding-left: 20px;
		}
	}

	@include media-breakpoint-down(md) {

		.topbar-left {
			text-align: center;

			> div {
				float: none;
			}
		}
	}
}
