.site-header {
	position: relative;
	border-bottom: 1px solid #eeeeee;

	@extend %transit;

	> .container > .row {
		display: table;
		margin: 0;
		width: 100%;
	}

	.site-logo,
	.header-tools {
		display: table-cell;
		vertical-align: middle;
	}

	.header-left {
		display: none;
	}

	.site-logo img {
		padding: 10px 0;
		vertical-align: middle;
	}

	.header-widget {

		.widget {
			margin-bottom: 0;
		}

		.menu {
			font-size: 0;
			margin: 0;
			padding: 0;
			list-style-type: none;

			> li > .sub-menu.hover-back {
				right: 0 !important;
			}

			li {
				font-size: 14px;
				position: relative;
				display: inline-block;
				vertical-align: middle;
				padding: 0 15px;
				border-top: none;
				border-right: 1px solid #eeeeee;

				&.menu-item-has-children {
					> a:after {
						opacity: .4;
						font-size: 12px;
						margin-left: 5px;

						@include fa-icon('\f107');
					}
				}

				&:hover {

					> .sub-menu {
						top: 100%;
						z-index: 999;
						visibility: visible;
						opacity: 1;
					}
				}

				&:last-child {
					border-right-width: 0;
				}

				> a {
					display: block;
					padding: 0;

					> i {
						margin-right: 10px;
					}
				}

				.sub-menu {
					position: absolute;
					top: 90%;
					left: 0;
					z-index: -1;
					visibility: hidden;
					margin: 0;
					padding: 0;
					min-width: 150px;
					background-color: #ffffff;
					box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
					opacity: 0;

					@extend %transit;

					&.hover-back {
						right: 100%;
						left: auto !important;
					}

					li {
						display: block;
						margin: 0;
						padding: 0;
						border: none;
						line-height: initial;

						@extend %transit;

						&:hover {
							transform: translateX(5px);
						}

						a {
							display: block;
							padding: 8px 15px;
						}

						.sub-menu {
							top: -1px;
							left: 100%;
						}
					}
				}
			}
		}
	}

	.header-tools {

		text-align: right;

		> div {
			display: inline-block;
			vertical-align: middle;
			text-align: left;
		}

		section {
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
			margin-bottom: 0;
		}

		.widget-title {
			display: none;
		}
	}

	.header-overlap & {
		&:not(.sticky-header) {
			position: absolute;
			width: 100%;
			z-index: 100;
			background-color: transparent !important;
		}
	}

	@include media-breakpoint-up(lg) {

		.body-boxed.header-overlap & {
			&:not(.sticky-header) {
				max-width: 1200px;
			}
		}

		> .container.wide {
			max-width: 95%;
		}

	}

	@include media-breakpoint-only(lg) {

		.site-logo {
			width: 30%;
		}

		.header-tools {
			width: 70%;
		}

	}

	@include media-breakpoint-down(lg) {

		> .container > .row {
			min-height: 60px;
		}

	}

	@include media-breakpoint-down(sm) {

		.site-logo {
			width: 50%;
		}

		.header-tools {
			width: 50%;

			.header-widget {
				display: none;
			}
		}
	}
}

.sticky-header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	border-bottom: none;
	transform: translateY(-100%);
	transition: opacity .5s ease, transform .5s ease;

	> .container > .row {
		display: table;
		margin: 0;
		width: 100%;
		min-height: 80px;
	}

	.header-widget {
		display: none !important;
	}

	&.is-sticky {
		opacity: 1;
		transform: translateY(0);
		z-index: 999 !important;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);

		.admin-bar & {
			top: 32px;
		}

		@media (min-width: 601px) and (max-width: 782px) {

			.admin-bar & {
				top: 46px;
			}
		}

		@media screen and (max-width: 600px) {

			.admin-bar & {
				top: 0;
			}
		}
	}

	.mobile-menu-opened &,
	.mobile-wishlist-opened &,
	.mobile-minicart-opened &,
	.mobile-search-opened & {

		&:after {
			content: '';
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
			background-color: rgba(0, 0, 0, .4);
		}
	}

	@include media-breakpoint-down(lg) {

		> .container > .row {
			min-height: 60px;
		}
	}

	@include media-breakpoint-up(lg) {

		> .container.wide {
			max-width: 95%;
		}
	}
}

// MENU BOTTOM HEADER
.site-header.header-menu-bottom,
.site-header.header-menu-bottom-wide {
	border-bottom: none;

	.site-menu-wrap {
		display: none;
		max-height: 60px;
		border-top: 1px solid #eeeeee;
	}

	.site-menu-wrap .site-menu {
		display: block;
	}

	.site-menu-wrap .site-menu > ul > li,
	.site-menu-wrap .site-menu .menu > li {
		padding: 19px 25px;
	}

	.site-menu-wrap .site-menu .menu li.page_item,
	.site-menu-wrap .site-menu .menu li.menu-item {

		> .sub-menu,
		> .children {
			top: 120%;
		}

		&:hover {

			> .sub-menu,
			> .children {
				top: 100%;
			}
		}
	}

	.site-menu-wrap .site-menu .menu .children li.page_item,
	.site-menu-wrap .site-menu .menu .sub-menu li.menu-item {

		.children,
		.sub-menu {
			top: 0;
		}
	}

	@include media-breakpoint-up(xl) {

		> .container:not(.sticky-header) .site-logo {
			text-align: center;
			width: 20%;
		}

		> .container:not(.sticky-header) .header-tools {
			width: 40%;
		}

		> .container:not(.sticky-header) .header-left {
			position: relative;
			display: table-cell;
			vertical-align: middle;
			width: 40%;
		}

		.site-menu-wrap {
			display: block;
		}
	}
}
