// Comment Area
.comments-area {

	.comments-title {
		font-size: 20px;
	}

	.page & {
		margin-top: 30px;
	}
}

.comment-list,
.comment-list .children {
	@include list-unstyled;
}

.comment {
	margin-bottom: 30px;
}

.comment-list {
	margin-bottom: 60px;
}

.comments-area .author-avatar {
	padding-top: 0;
	position: relative;
	z-index: 1;
	@include media-breakpoint-up(md) {
		padding-top: 30px;
	}
}

.comment-text {
	margin-top: -50px;
	padding: 60px 15px 30px;
	margin-bottom: 10px;
	border: 1px solid #eeeeee;
	position: relative;
	font-size: 15px;
	line-height: 1.8;
	letter-spacing: .03em;

	@include media-breakpoint-up(md) {
		margin-top: 0;
		margin-left: 50px;
		padding-top: 35px;
		padding-left: 75px;
		padding-right: 30px;
		margin-bottom: 27px;
		min-height: 170px;
	}

}

@include media-breakpoint-up(lg) {
	.comments-area ul.children {
		margin-left: 100px;
	}
}

.thecomment .reply {
	display: inline-block;
	margin-bottom: 5px;

	@include media-breakpoint-up(md) {
		float: right;
		line-height: 1;
		margin-bottom: 0;
	}

	> a {
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: .01em;
		font-weight: 600;
	}

	a + a {
		margin-left: 10px;
	}

}

.comments-area .author {
	margin: 0 0 10px 0;
}

.comment-text span.date {
	font-size: 14px;
	letter-spacing: .03em;
	margin-bottom: 15px;
	display: inline-block;
	@include fa-icon-before('\f272');

	&:before {
		margin-right: 5px;
	}

	+ em {
		margin-left: 10px;
		font-size: 13px;
	}

}

// Response.
#reponse {
	margin-bottom: 20px;
	overflow: hidden;
}

#reply-title {
	font-size: 22px;
	margin-bottom: 30px;

	small {
		margin-left: 10px;
		@include media-breakpoint-up(md) {
			float: right;
		}
	}
}

.single-post #commentform label {
	display: none;
}

#commentform input[type='text'],
#commentform textarea {
	background: #f7f7f7;
	border: 1px solid #eeeeee;
	padding: 9.5px 25px;
}

#commentform input[type='text'] {
	margin-bottom: 15px;
}

#commentform textarea {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	outline: 0;
	padding: 15px 20px;
	background-clip: padding-box;
	height: 200px;
	margin-bottom: 20px;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
