.tm-robin-pagination {
	margin-bottom: 100px;
}

.tm-robin-pagination ul.page-numbers {
	font-size: 0;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.tm-robin-pagination ul li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	width: 40px;
	line-height: 38px;
	margin-right: 5px;
}

.tm-robin-pagination ul li span {
	display: block;
}

.tm-robin-pagination .current {
	color: #ffffff;
	border: 1px solid #444444;
	background-color: #444444;
}

.tm-robin-pagination ul li a {
	display: block;
	border: 1px solid #444444;
	background-color: #ffffff;

	&:hover {
		color: #ffffff;
		background-color: #444444;
	}
}

.woocommerce-pagination {
	margin-top: 30px;

	@extend .tm-robin-pagination;

	.next,
	.prev {
		font-size: 0;

		&:before {
			display: inline-block;
			vertical-align: middle;
			font-size: 16px;

			@extend %fa-icon;
		}
	}

	.next:before {
		content: '\f105';
	}

	.prev:before {
		content: '\f104';
	}
}
