.page-title {
	position: relative;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 30px 0;

	@include media-breakpoint-up(lg) {
		padding: 0;
		background-attachment: fixed;
	}

	&.has-margin-bottom {
		margin-bottom: 30px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 60px;
		}
	}

	&.page-title-bg_color {
		background-image: none;

		&:before {
			display: none;
		}
	}

	&:before {
		content: '';
		@include absolute-center;
	}

	> .container {

		> .row {
			align-items: center;

			@include media-breakpoint-up(md) {
				min-height: 100px;
				max-height: 500px;
			}
		}
	}
}

.page-title h1 {
	font-size: 30px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;

	@include media-breakpoint-up(md) {
		font-size: 40px;
	}

	@include media-breakpoint-up(lg) {
		font-size: 70px;
	}
}

.page-title + .container,
.page-title + .site-content {
	padding-top: 0 !important;
}

/**
 * Post Navigation
 */
.post-nav__prev-item,
.post-nav__next-item {
	width: 30px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin-top: 10px;

	&:hover {

		.site-breadcrumbs & {

			> a {
				color: #ffffff;
				border-color: $color__secondary;
				background-color: $color__secondary;
			}
		}

		.page-title & {

			.item-wrapper a {
				color: #111111 !important;
			}
		}

		.item-wrapper {
			opacity: 1;
			visibility: visible;
		}
	}

	> a {
		display: block;
		border: 1px solid #eeeeee;
	}

	.item-wrapper {
		display: none; // hide on mobile devices
		position: absolute;
		top: 120%;
		min-width: 250px;
		text-align: left;
		opacity: 0;
		visibility: hidden;
		background-color: #ffffff;
		border: 1px solid #efefef;

		@extend %transit;
		@include transition-duration(.2s);

		a {
			display: table;
			width: 100%;
			padding: 10px;
		}

		div {
			display: table-cell;
			vertical-align: top;
			line-height: 1;

			&:first-of-type {
				width: 70px;
				padding-right: 10px;
			}

			&.title {
				font-weight: 500;
				font-size: .9em;
				line-height: 1.2;
			}
		}

		span.price {
			display: block;
			font-weight: 400;
			margin-top: 10px;
		}

		@include media-breakpoint-up(sm) {
			display: block;
		}
	}

	@include media-breakpoint-up(lg) {
		position: absolute;
		z-index: 3;

		.site-breadcrumbs & {
			top: -5px;
			margin-top: 0;
		}

		.page-title & {
			position: absolute;
			top: 50%;
			margin-top: -20px;
		}
	}
}

.post-nav__prev-item {

	.page-title & {

		.item-wrapper {
			left: 20px;
		}

		&:hover {

			.item-wrapper {
				left: 0;
			}
		}
	}

	.site-breadcrumbs & {

		.item-wrapper {
			right: -20px;
		}

		&:hover {

			.item-wrapper {
				right: 0;
			}
		}
	}

	@include media-breakpoint-up(sm) {

		.site-breadcrumbs & {
			right: 50px;
		}

		.page-title & {
			left: 5%;
			right: auto;
		}
	}
}

.post-nav__next-item {
	margin-left: 5px;

	.page-title & {

		.item-wrapper {
			right: 20px;
		}
	}

	.site-breadcrumbs & {

		.item-wrapper {
			right: 20px;
		}
	}

	&:hover {

		.item-wrapper {
			right: 0;
		}
	}

	@include media-breakpoint-up(sm) {

		right: 15px;

		.page-title & {
			right: 5%;
		}
	}
}
