/**
 * Breadcrumbs
 */
.site-breadcrumbs {
	margin-top: 10px;
	margin-bottom: 40px;

	.page-title & {
		margin-top: 20px;
		margin-bottom: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;

			&:after {
				content: '/';
				margin: 0 6px;
			}

			&:last-child:after {
				display: none;
			}

			&.current {
				font-size: 18px;
				font-weight: 600;
			}
		}
	}

	@include media-breakpoint-up(lg) {

		> .container.full-width {
			max-width: 95%;
		}
	}

	.shop-display & {
		margin: 0;
	}
}
