.header-search {

	&.search-open {

		.toggle > i:before {
			font-size: 35px;

			@include pe-icon('\e680');
		}
	}

	&.search-loading {

		.toggle > i:before {
			margin-right: 15px;
			content: url(assets/images/loading.svg);
			line-height: 0;
			transform: scale(2);
		}

		.ajax-search-notice {
			display: block !important;
			content: url(assets/images/loading.svg);
			transform: translate(-50%, -50%) scale(3);
		}

		.autocomplete-suggestions {
			opacity: 0;
			visibility: hidden;
		}
	}

	> a.toggle {
		font-size: 16px;

		> i:before {
			display: inline-block;
		}
	}

	.search-form-wrapper {
		position: absolute;
		z-index: 20;
		display: none;

		.search-form {
			display: table;
			width: 100%;

			&.has-categories-select {

				input.search-input {
					border-right: 1px solid #eeeeee;
				}
			}
		}

		input.search-input {
			display: table-cell;
			padding: 0 20px;
			width: 100%;
			border: none;
			border-right: 1px solid #eeeeee;
			background-color: #ffffff;
			vertical-align: middle;
			height: 100%;
		}

		select#product-cat {
			display: none;
		}

		.select2 {
			display: table-cell;
			width: 30% !important;
			border-right: 1px solid #eeeeee;
			vertical-align: middle;
		}

		.select2-container--default .select2-selection--single {
			border: none;

			.select2-selection__rendered {
				padding-right: 30px;
				padding-left: 30px;
				color: #999999;

				&:after {
					position: absolute;
					top: 50%;
					right: 30px;
					font-size: 18px;

					@include fa-icon('\f107');
					@include transform(translateY(-50%));
				}
			}

			.select2-selection__arrow {
				display: none;
			}
		}
	}

	.search-dropdown-wrapper {
		background-color: #ffffff;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);

		&.only-results {
			display: none;
		}

		> .row > [class*='col-'] {
			padding: 0;

			&:first-child {
				border-right: 1px solid #eeeeee;
			}
		}
	}
}

.ajax-results-wrapper {
	min-height: 320px;
	height: 100%;

	.ajax-search-notice {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		margin-bottom: 0;
		color: #dcdcdc;
		text-align: center;
		font-size: 20px;
		transform: translate(-50%, -50%);

		&:before {
			display: block;
			margin-bottom: 20px;
			font-size: 60px;

			@include fa-icon('\f002');
		}
	}

	.robin-scroller-pane {
		z-index: 2;
	}

	.search-view-all {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		text-align: right;
		text-transform: uppercase;
		font-weight: 600;
		background-color: transparent;
		padding: 10px 20px;

		.suggestion-title {
			font-size: 14px;
		}
	}

	.autocomplete-suggestions {
		display: flex !important;
		flex-wrap: wrap;
		max-height: 100% !important;
		width: 100% !important;
		z-index: 1 !important;
		background-color: #ffffff;
		padding: 40px 20px 0;
	}

	.autocomplete-suggestion {
		display: inline-block;
		flex: 0 0 50%;
		max-width: 50%;
		border-top: 1px solid #eeeeee;
		vertical-align: top;
		cursor: pointer;
		padding: 20px;

		@extend %transit;

		&.autocomplete-selected {
			background-color: #fafafa;
		}

		&:last-child {
			border-bottom: 1px solid #eeeeee;
		}

		> div {
			display: table-cell;
			vertical-align: top;
		}
	}

	.suggestion-thumb {
		padding-right: 20px;
		width: 130px;
	}

	.suggestion-title {
		display: block;
		font-weight: 600;
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 15px;

		ins {
			border-bottom: 2px solid transparent;
		}
	}

	.suggestion-sku ins {
		border-bottom: 2px solid transparent;
	}

	.suggestion-sku,
	.suggestion-price {
		display: block;
		margin-bottom: 10px;
		font-weight: 300;
		font-size: 18px;
	}
}

.search-widget-area {
	display: flex;
	flex-wrap: wrap;

	.col-xl-12 & {

		section.widget {
			width: 25%;
		}
	}

	section.widget {
		vertical-align: top;
		display: flex;
		flex-direction: column;
		margin-bottom: 0;
		max-height: 450px;
		width: 50%;
		border-right: 1px solid #eeeeee;
		padding: 40px;
	}
}

// Full header search
.header-search.search-full-header {

	&.search-open {

		.toggle {
			position: absolute;
			top: 50%;
			right: 20px;
			z-index: 21;

			@include transform(translateY(-50%));
		}

		.body-boxed & {

			.toggle {
				right: 0;
			}
		}
	}

	.search-form-wrapper {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fafafa;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
	}

	.search-dropdown-wrapper {

		.col-xl-12 .autocomplete-suggestion {
			flex: 0 0 25%;
			max-width: 25%;
			border: none;
		}
	}

	.search-form {
		height: 100%;
	}

	input.search-input {
		background-color: #fafafa;
		font-size: 30px;
	}

	button#search-btn {
		visibility: hidden;
		padding: 0 7px;
		font-size: 0;
		pointer-events: none;
	}

	.select2 {
		background-color: #fafafa;
		font-size: 30px;
	}

	.select2-container .select2-selection--single {
		height: 100%;
		background-color: transparent;

		.select2-selection__rendered {
			line-height: 1.5;
			background-color: #fafafa;
		}
	}

	.select2-selection:focus {
		outline: none;
	}

	.sticky-header.is-sticky & {

		&.search-open .toggle {
			top: 60%;
		}
	}

	// In menu bottom header
	.site-header.header-menu-bottom & {

		.search-form-wrapper {
			max-height: 90px;
		}

		&.search-open .toggle {
			top: 10px;
			transform: translateY(0);
		}
	}
}

// Full screen search
.header-search.search-full-screen {

	.sticky-header & {

		.search-form-wrapper {
			top: 120px;

			&:after {
				height: 100vh;
			}
		}
	}

	&.search-open {

		.toggle {
			position: fixed;
			top: 20px;
			right: 10px;
			z-index: 21;
			color: #ffffff;

			> i:before {
				font-size: 70px;
			}

			.admin-bar & {
				top: 52px;
			}
		}
	}

	.search-form-wrapper {
		position: fixed;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fafafa;

		&:after {
			position: fixed;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .9);
			content: '';
		}
	}

	.search-dropdown-wrapper {
		width: 70%;

		.col-xl-6 .autocomplete-suggestion {
			flex: 0 0 100%;
			max-width: 100%;
		}

		.col-xl-12 .autocomplete-suggestion {
			flex: 0 0 50%;
			max-width: 50%;
			border: none;
		}
	}

	.search-form {
		margin: 0 auto;
		width: 70%;
		height: 90px;
	}

	input.search-input {
		background-color: #fafafa;
		font-size: 24px;
	}

	.select2 {
		background-color: #fafafa;
		font-size: 24px;
	}

	.select2-container .select2-selection--single {
		height: 100%;
		outline: none;
		background-color: transparent;

		.select2-selection__rendered {
			background-color: #fafafa;
		}
	}

	button#search-btn {
		display: none;
	}
}

// Dropdown search
.header-search.search-dropdown {
	position: relative;

	&.search-open {

		.toggle > i:before {
			font-size: 30px;
		}
	}

	&.search-loading {

		.toggle > i:before {
			margin-top: 13px;
			margin-right: 5px;
			transform: scale(1);
		}

		.ajax-search-notice {
			transform: translate(-50%, -50%) scale(.1);
		}
	}

	.search-form-wrapper {
		right: 0;
		width: 500px;
	}

	.search-form {
		padding: 10px;
		background-color: #f2f2f2;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
	}

	.search-form.has-categories-select {
		button#search-btn {
			width: 100%;
		}

		input.search-input {
			width: 100%;
		}
	}

	input.search-input {
		border: none;
		height: 44px;
		width: 70%;
	}

	.select2 {
		height: 44px;
		border-right-width: 0;
		border-left-width: 0;
	}

	.select2-container--default .select2-selection--single {
		height: auto;
		border-radius: 0;
		padding: 0;

		.select2-selection__rendered {
			line-height: 44px;
			padding: 0 15px;

			&:after {
				right: 10px;
			}
		}
	}

	.ajax-results-wrapper {

		.ajax-search-notice {

			width: 70%;
			font-size: 14px;

			&:before {
				font-size: 40px;
			}
		}

		.autocomplete-suggestions {
			padding: 40px 0 0;
		}

		.autocomplete-suggestion {
			display: block;
			flex: 0 0 100%;
			max-width: 100%;
			padding: 15px 20px;
		}

		.suggestion-title {
			font-size: 16px;
		}

		.suggestion-sku,
		.suggestion-price {
			font-size: 14px;
		}
	}

	button#search-btn {
		display: table-cell;
		height: 44px;
		width: 30%;
		border: none;
		border-radius: 0;
		padding: 10px;
	}
}

@include media-breakpoint-down(lg) {

	.header-search {

		.toggle.toggle {
			display: none;
			color: #666666;
		}

		&.search-open {
			z-index: 1000;
			position: relative;

			.toggle.toggle {
				position: fixed;
				top: 20px;
				right: 10px;
				z-index: 21;
				color: #222222;

				.admin-bar & {
					top: 46px;
				}

				i:before {
					font-size: 50px;
				}
			}

			&.search-full-header {

				.toggle.toggle {

					top: 46px;

					.admin-bar & {
						top: 72px;
					}
				}
			}
		}

		&.search-loading {

			.toggle > i:before {
				margin-right: 0;
				content: '\e680';
				line-height: 1;
				transform: scale(1);
			}

			.ajax-search-notice {
				transform: translate(-50%, -50%) scale(.1);
			}
		}

		.search-form-wrapper {
			display: none !important;

			&.search-form-wrapper {
				position: fixed;
				top: 50px;
				left: 0;
				width: 100%;
				height: 100px;
				background-color: transparent;

				&:after {
					position: fixed;
					top: 0;
					left: 0;
					z-index: -1;
					width: 100vh;
					height: 100vh;
					background-color: #ffffff;
					content: '';
				}
			}

			.search-form {
				margin: 0 auto;
				padding: 0;
				width: 90%;
				height: auto;
				background-color: transparent;
				box-shadow: none;
			}

			input.search-input {
				padding: 0;
				border-top-width: 0;
				border-right-width: 0 !important;
				border-bottom: 1px solid #dddddd;
				border-left-width: 0;
				background-color: transparent;
				color: #222222;
				font-size: 16px;

				&::-webkit-input-placeholder {
					color: #222222;
				}

				&::-moz-placeholder {
					color: #222222;
				}

				&:-ms-input-placeholder {
					color: #222222;
				}
			}

			.select2 {
				display: block;
				margin-top: 20px;
				margin-bottom: 20px;
				width: 100% !important;
				background-color: #ffffff;
				border-top-width: 0;
				border-right-width: 0;
				border-bottom: 1px solid #dddddd;
				font-size: 16px;
			}

			.select2-container .select2-selection--single .select2-selection__rendered {
				padding: 0;
				background-color: #ffffff;
				color: #222222;

				&:after {
					right: 10px;
				}
			}

			button#search-btn {
				display: none;
			}

			.admin-bar & {
				top: 80px;
			}
		}

		.search-dropdown-wrapper.search-dropdown-wrapper {

			display: block !important;
			width: 100%;
			box-shadow: none;

			> .row > .col-xl-6:last-child {
				display: none;
			}
		}

		.ajax-results-wrapper {
			min-height: 400px;

			.ajax-search-notice {

				width: 90% !important;
				font-size: 14px !important;

				&:before {
					font-size: 40px;
				}
			}
		}

		.robin-scroller-pane {
			opacity: 1;
		}

		.autocomplete-suggestions {
			padding: 40px 0 0;
		}

		.autocomplete-suggestion {
			padding: 15px 20px;
			width: 50% !important;
		}

		.suggestion-title {
			font-size: 16px;
		}

		.suggestion-sku,
		.suggestion-price {
			font-size: 14px;
		}
	}
}
