.site-footer {
	padding-top: 100px;

	> .container {
		padding-bottom: 20px;
	}

	.menu li:last-child {
		margin-bottom: 30px;
	}

	.widget-title:after {
		background-color: #333333;
	}

	@include media-breakpoint-up(lg) {
		.container.wide {
			max-width: 95%;
		}
	}

	.mc4wp-form-fields {
		br {
			display: none;
		}
	}
}

.site-footer .mc4wp-form {
	.mc4wp-form-fields {
		margin-bottom: 30px;
	}

	input[type="text"] {
		display: none !important;
	}

	input[type="email"],
	button {
		display: inline-block;
		vertical-align: top;
		height: 50px;
	}

	input[type="email"] {
		width: 60%;

		@include media-breakpoint-down(xs) {
			width: 100%;
		}
	}

	button[type="submit"] {
		background-color: #aaaaaa;
		color: #ffffff;
		border-color: #aaaaaa;
		border-radius: 0;
		margin-left: -3px;

		@include media-breakpoint-down(xs) {
			margin-top: 20px;
			margin-left: 0;
		}

		&:hover {
			@extend %transit;
		}
	}
}

.site-copyright {
	text-align: center;
	padding: 30px 0;
}

.site-footer{
	.social {
		li {
			display: inline-block;
			padding-right: 20px;
		}
	}
}

.site-footer.site-footer--dark {
	background-color: #111111;
	color: #999999;

	ul li > a,
	.widget_tm_contact_info p > a {
		color: #999999;

		&:hover {
			color: #ffffff;
		}
	}

	.site-copyright {
		background-color: #111111;
		border-top: 1px solid #333333;
	}

	.widget-title {
		color: #ffffff;
	}

	.col-offset {
		padding-left: 100px;
		@include media-breakpoint-down(xl) {
			padding-left: 15px;
		}
	}

	.site-copyright {
		color: #999999;
		background-color: #111111;

		a {
			color: $color__primary;
		}

		a:hover {
			color: #ffffff;
		}
	}
}

.site-footer.site-footer--light {
	background-color: #ffffff;
	color: #999999;

	ul li > a,
	.widget_tm_contact_info p > a {
		color: #999999;
		&:hover {
			color: #111111;
		}
	}

	.site-copyright {
		background-color: #ffffff;
		border-top: 1px solid #eeeeee;

		a:hover {
			color: #111111;
		}
	}

	.widget-title {
		color: #111111;
	}

	.widget-title:after {
		background-color: #d3d3d3;
	}

	.site-copyright {
		border: 1px solid #dddddd;
		background-color: #ffffff;

		a {
			color: $color__primary;
		}

		a:hover {
			color: #111111;
		}
	}
}
