.widget {
	margin: 0 0 55px;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.site-footer & {
		margin-bottom: 30px;
	}
}

.widget-title {
	font-size: 22px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 30px;

	&:after {
		content: '';
		display: block;
		height: 2px;
		width: 100px;
		background-color: #dddddd;
		margin-top: 25px;
	}

	.site-footer & {
		font-size: 18px;
		margin-bottom: 15px;

		&:after {
			width: 50px;
			margin-top: 15px;
		}
	}
}

.widget ul li {
	letter-spacing: .03em;
	word-wrap: break-word;

	> a {
		display: inline-block;
		padding: 14px 0;
	}

	&:first-child {
		> a {
			padding-top: 0;
		}
	}

	&.wc-layered-nav-term {
		line-height: 1.5;
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #eeeeee;

		> a {
			padding: 0;
		}

		.count {
			float: right;
		}
	}

	ul.children,
	ul.sub-menu {
		border-top: 1px solid #eeeeee;
		padding-left: 1em;
		padding-top: 14px;
	}

	.sidebar & {
		font-size: 15px;
	}

	.site-footer & {

		> a {
			padding: 5px 0;
		}

		ul.children,
		ul.sub-menu {
			padding-top: 0;
		}
	}

}

.insight-core-bmw ul li,
.widget_archive ul > li,
.widget_pages ul > li,
.widget_nav_menu ul > li,
.widget_categories ul li,
.widget_recent_comments ul > li,
.widget_meta ul > li,
.widget_recent_entries ul > li,
.widget_product_categories ul > li,
.widget_layered_nav ul li,
.widget_edd_categories_tags_widget ul li,
.widget_display_replies ul li,
.widget_display_forums ul li,
.widget_display_topics ul li {

	+ li {
		border-top: 1px solid #eeeeee;
	}
}

// Calendar
.widget_calendar {
	tfoot td#next {
		text-align: right;
	}

	tbody td a {
		font-weight: 600;
		border-bottom: 1px dotted $color__secondary;
	}
}

// Recent Comment Widget
.widget_recent_comments {
	ul li.recentcomments {
		padding: 10px 0;
		> a {
			display: inline;
		}
	}
}

// Search Widget
.widget_search,
.widget_product_search {

	form {
		position: relative;
		margin-bottom: 0;

		&.woocommerce-product-search:after {
			font-size: 18px;
			line-height: 40px;
			position: absolute;
			top: 0;
			right: 18px;
			color: #333333;

			@include fa-icon('\f002');
		}
	}

	input {
		margin: 0;
		border: 1px solid #eeeeee;
		background: #f7f7f7;
		width: 100%;
		height: 40px;
		font-size: 14px;
		line-height: 19px;
		padding-left: 15px;
		padding-right: 45px;
		background-clip: padding-box;
	}

	input[type='submit'] {
		display: none;
	}

	button {
		position: absolute;
		top: 0;
		right: 18px;
		font-size: 0;
		background-color: transparent !important;
		border: none;
		padding: 0;

		&:after {
			font-size: 18px;
			line-height: 40px;
			float: right;
			color: $color__secondary;

			@include fa-icon('\f002');
		}
	}

}

// Tag cloud widget
.post-tags,
.widget_tag_cloud,
.widget_product_tag_cloud {

	.tagcloud {
		font-size: 0;

		li {
			display: inline-block;

			&:last-child a {
				margin-right: 0;
			}
		}

		a {
			color: #666666;
			font-size: 14px !important;
			line-height: 1.6;
			display: inline-block;
			word-wrap: break-word;
			word-break: break-all;
			border: 1px solid #eeeeee;
			padding: 5px 15px;
			margin-right: 5px;
			margin-bottom: 5px;

			&:hover {
				color: #ffffff !important;
			}
		}

		.single & {
			padding: 0;
			margin-bottom: 0;
		}

		.site-footer & {

			a {
				color: #777777;
				border-color: #777777;

				&:hover {
					color: #ffffff;
				}
			}
		}
	}
}

// Contact Information widget
.widget_tm_contact_info {

	p {
		display: table;
		vertical-align: middle;
		margin-bottom: 10px;
	}

	p > i {
		display: table-cell;
		width: 30px;
		font-size: 14px;
	}

	p > a,
	p > span {
		display: table-cell;
		width: calc(100% - 30px);
	}

	.contact-info__logo {
		margin-bottom: 30px;
	}

	.social-links li {
		margin-right: 20px;
	}
}

// Categories Widget
.widget_product_categories {

	.title-wrap.widget-heading {
		margin-bottom: 30px;
	}

	ul li:first-child a {
		padding-top: 14px;
	}

	ul.product-categories {
		margin-top: -14px;

		&.has-toggle {

			.count {
				margin-right: 20px;
			}
		}
	}

	ul.children {
		display: none;
		padding-left: 30px !important;
		padding-top: 0 !important;
		border-top: 1px solid #eeeeee;

		li {
			font-weight: 400;
			border-bottom: none;
			margin-bottom: 0;
		}

		.count {
			color: #999999;
		}
	}

	.count {
		float: right;
		margin-top: 10px;
	}

	li {
		position: relative;
		color: #333333;

		&.expand {

			> i {
				transform: rotate(180deg);
			}
		}

		i {
			position: absolute;
			top: 5px;
			right: 0;
			cursor: pointer;
			height: 40px;
			width: 40px;
			line-height: 40px;
			text-align: center;

			@extend %transit;
		}

		.count {
			font-size: 14px;

			@extend %transit;
		}

		a > span {
			display: inline-block;
			position: relative;
			top: -4px;
			float: none;
			color: #777777;
			font-size: 12px;
			opacity: 0;
			padding: 1px 0;
			margin-left: 3px;
			transition: opacity .3s ease-in-out;
		}
	}
}

//  Nav Widget
.widget_nav_menu .title-wrap,
.insight-core-bmw .title-wrap {
	margin-bottom: 15px;
}

.widget_nav_menu ul.sub-menu,
.insight-core-bmw ul.sub-menu {
	border-right: 0;
	border-bottom: 0;
	border-left: 0; /* border radius */
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.widget_nav_menu ul.sub-menu li,
.insight-core-bmw ul.sub-menu li {
	padding-left: 15px;
}

// Mini cart Widget
.widget_shopping_cart {

	.amount {
		font-size: 18px;
		font-weight: 600;
		color: $color__price;
	}

	.widget_minicart_title {
		display: none;
	}

	.product_list_widget {
		margin: 0 -10px;
		padding: 0 10px;
		list-style: none;
	}

	.mini_cart_item {
		position: relative;
		display: table;
		margin-bottom: 20px;
		padding-top: 0;
		padding-bottom: 20px;
		min-height: 100px;
		width: 100%;
		border-bottom: 1px solid #eeeeee;

		@extend %transit;

		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}

		&.deleted {
			position: absolute;
			width: calc(100% - 20px);
			opacity: 0;

			@include animation(widget-item-slide-out .3s forwards);

			+ .mini_cart_item:not(.deleted):not(.undo-deleted) {
				@include animation(widget-item-move-up .3s forwards);
			}
		}

		&.undo-deleted {
			@include animation(widget-item-slide-in .3s forwards);

			+ .mini_cart_item:not(.deleted):not(.undo-deleted) {
				@include animation(widget-item-move-down .3s forwards);
			}
		}

		.variation {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}

	.remove {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		font-size: 0;

		&:before {
			vertical-align: -4px;
			font-size: 20px;
			line-height: 0;

			@include pe-icon('\e680');
		}

		&:hover {
			color: #ff0000;
		}

		&.inactive {
			position: relative;
			z-index: -1;

			&:after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, .8);
				content: '';
			}
		}
	}

	.minicart_item_product_image {
		display: table-cell;
		padding-top: 0;
		padding-right: 15px;
		padding-bottom: 0;
		width: 90px;
		vertical-align: top;
	}

	.minicart_item_right {
		display: table-cell;
		vertical-align: top;
	}

	.minicart_item_details {
		font-size: 12px;
	}

	.product-title {
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 16px;
		max-width: 90%;

		a {
			font-weight: 500;
		}
	}

	.woocommerce-mini-cart__total {
		margin-top: 10px;
		margin-bottom: 20px;
		padding-top: 10px;
		padding-bottom: 8px;
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;

		strong {
			margin-right: 10px;
			color: #222222;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 16px;
		}

		.amount {
			float: right;
		}

		@extend %transit;
	}

	.woocommerce-mini-cart__buttons {

		.button {
			display: block;
			margin-bottom: 15px;
			padding: 5px 10px;
			color: #ffffff;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: .1em;

			&:hover {
				opacity: .85;
			}
		}

		.checkout {
			margin-bottom: 0;
		}
	}
}

// Product list widget
.product_list_widget {

	.product {
		clear: both;
		display: table;
		width: 100%;
		border-bottom: 1px solid #eeeeee;
		padding-bottom: 20px;
		margin-bottom: 20px;

		&:last-of-type {
			border: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		> a {
			padding-bottom: 5px;
		}
	}

	.product-thumb {
		display: table-cell;
		vertical-align: top;
		width: 120px;
	}

	.product-info {
		display: table-cell;
		vertical-align: top;
		position: relative;
		padding-left: 20px;

		a.product-title {
			display: block;
			font-size: 16px;
			margin-bottom: 5px;
		}
	}

	.product-price {
		display: block;
		font-size: 16px;
		font-weight: 600;
		color: $color__price;
		margin-top: 5px;
	}
}

// Price filter widget
.widget_price_filter {

	input[type="text"] {
		display: none;
	}

	.price_slider {
		margin-bottom: 20px;
	}

	.price_slider_amount {
		text-align: right;
		line-height: 2.4;

		.price_label {
			text-align: left;
		}

		.button {
			float: right;
			color: #333333;
			font-weight: 600;
			background-color: transparent;
			border: none;
			padding: 0;

			&:before {
				margin-right: 5px;
				@include fa-icon('\f0b0');
			}
		}
	}

	.ui-slider {
		position: relative;
		text-align: left;
		margin-right: .5em;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1em;
		height: 1em;
		border-radius: 1em;
		cursor: ew-resize;
		outline: none;
		top: -.3em;
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		display: block;
		border: 0;
	}

	.price_slider_wrapper .ui-widget-content {
		background-color: #eeeeee;
		border: 0;
	}

	.ui-slider-horizontal {
		height: 5px;
	}

	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
	}

	.ui-slider-horizontal .ui-slider-range-min {
		left: -1px;
	}

	.ui-slider-horizontal .ui-slider-range-max {
		right: -1px;
	}
}

// Recent reviews widget
.widget_recent_reviews {

	.product_list_widget {

		li {
			clear: both;

			> a {
				display: block !important;
				padding: 0 !important;

				> img {
					float: left;
					width: 130px;
					padding-right: 10px;
				}
			}

			.reviewer {
				display: block;
			}
		}
	}
}

// Layerd Nav widget by Robin
.widget_tm_layered_nav {

	a.filter-pseudo-link {
		display: none;
	}

	ul {

		li.wc-layered-nav-term {

			&.swatch-color a:hover span.filter-swatch,
			&.swatch-color.chosen span.filter-swatch,
			&.swatch-image a:hover img,
			&.swatch-image.chosen img {
				box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px #aaaaaa;
			}
		}

		.count {
			color: #bbbbbb;
		}
	}

	ul.show-labels-off {

		li.wc-layered-nav-term a .term-name {
			display: none;
		}
	}

	ul.show-labels-on {

		li.wc-layered-nav-term.swatch-color {

			span:before,
			span:after {
				display: none;
			}
		}
	}

	ul.show-display-list {

		max-height: 320px;
		overflow: hidden;
		padding: 0 5px;

		li.wc-layered-nav-term {

			.term-name {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	ul.show-display-inline {

		li {
			display: inline-block;
			vertical-align: top;
			border-bottom: none;
			margin-right: 15px;
			margin-bottom: 15px;
			padding: 0;

			> a {
				padding: 0;
			}

			.count {
				display: inline-block;
				vertical-align: super;
				font-size: 12px;
				margin-left: 5px;
			}
		}
	}

	li.swatch-color {

		.filter-swatch {
			display: inline-block;
			vertical-align: middle;
			height: 24px;
			width: 24px;
			line-height: 24px;
			border-radius: 100%;
			box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);

			@extend %transit;

			+ .term-name {
				margin-left: 10px;
			}
		}
	}

	li.swatch-image {

		img {
			height: 25px;
			width: 25px;
			border-radius: 100%;
			box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);

			@extend %transit;

			+ .term-name {
				margin-left: 10px;
			}
		}
	}

	li.swatch-text {

		a {
			font-size: 16px;
			font-weight: 600;
			margin-left: 5px;
		}
	}
}

// Layer nav filters
.widget_layered_nav_filters {

	ul li {
		display: inline-block;
		vertical-align: top;
		margin-right: 15px;
		margin-bottom: 10px;

		> a {
			color: #111111;
			font-weight: 600;
			padding: 0;

			&:before {
				content: '\e680';
				display: inline-block;
				vertical-align: -4px;
				font-size: 20px;

				@extend %pe-icon;
			}
		}
	}
}

// YITH WooCommpare
.yith-woocompare-widget {

	.products-list {
		li {
			margin-bottom: 10px;
			padding-bottom: 10px !important;
			border-bottom-color: #eeeeee !important;

			a.title {
				font-size: 14px;
				text-transform: none;
				padding: 0;
			}

			a.remove {
				font-size: 0;
				padding: 0;

				&:before {
					font-size: 20px;
					display: inline-block;
					line-height: 1;

					@include pe-icon('\e680');
				}
				&:hover {
					&:before {
						color: red;
					}
				}
			}
		}
	}

	a.compare {
		line-height: initial;
		font-weight: 500;
		color: #333333;
		background-color: transparent !important;
		border: none;
		padding: 0;

		&:before {
			margin-right: 5px;
			@include fa-icon('\f0ec');
		}
	}
}

// YITH Ajax Navigation
.woocommerce .widget_layered_nav.yith-woocommerce-ajax-product-filter {

	// Color filter
	ul.yith-wcan-color {

		li {
			border: none;
		}

		li a {
			border: none !important;
			height: 24px;
			width: 24px;
			border-radius: 100%;
			box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3);
			margin: 8px;
		}

		li a:hover,
		li.chosen a {
			box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px #aaaaaa;
		}
	}

	// Label filter
	ul.yith-wcan-label {

		li {
			border: none;
		}

		li a {
			color: #666666;
			font-size: 14px !important;
			line-height: 1.6;
			display: inline-block;
			word-wrap: break-word;
			word-break: break-all;
			background-color: #ffffff;
			border: 1px solid #eeeeee;
			padding: 5px 15px;
			margin-right: 5px;
			margin-bottom: 5px;

			&:hover {
				color: #ffffff !important;
			}
		}
	}
}
