.social-links {
	font-size: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		a {
			position: relative;
			display: inline-block;
			font-size: 0;
		}

		i {
			vertical-align: middle;
			text-align: center;
			font-size: 13px;
			@extend %fa-icon;
		}

		span.title {
			text-align: left;
			display: inline-block;
			margin-right: 10px;
			padding-right: 15px;
			font-size: 13px;
		}
	}

	.title {
		font-weight: 400;
	}

	.topbar & {
		margin-left: 20px;

		li {

			&:last-child.has-title {

				.title {
					padding-right: 5px;
				}
			}

			i {
				font-size: 14px;
				line-height: 50px;
				margin-right: 0;
			}

			span.title {
				line-height: 50px;
			}
		}
	}

	.site-mobile-menu & {
		margin-top: 30px;
		text-align: center;

		li {
			margin-right: 15px;

			&:last-of-type {
				margin-right: 0;
			}

			i {
				line-height: 30px;
				font-size: 15px;
			}

			span.title {
				line-height: 30px;
				margin-left: 5px;
				margin-right: 0;
				padding-right: 0;
			}
		}
	}

	@include media-breakpoint-down(lg) {
		.topbar & {
			display: none;
		}
	}
}

.social-links--large {

	li i {
		font-size: 18px;
	}

	li + li {
		margin-left: 18px;
	}

}
