.select2-dropdown {
	border-radius: 0;
	border: 1px solid #eee;
	box-sizing: border-box;
	display: block;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.select2-search--dropdown {
	padding: 10px 15px;
}

.select2-container--default .select2-selection--single {
	outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	outline: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	padding: 10px;
	background-color: transparent;
	border: 1px solid #eeeeee;

	&:focus {
		border-color: #c7c7c7;
	}

	@include media-breakpoint-down(lg) {
		font-size: 16px;
	}
}

.select2-results__option {
	padding: 10px 15px;

	@extend %transit;

	span {
		display: inline-block;
		@extend %transit;
	}
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: transparent;
	color: $color__secondary;
	font-weight: 500;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #fbfbfb;
	color: $color__secondary;

	span {
		@include transform(translateX(10px));
	}
}
