// Wishlist on the header
.header-wishlist {
	position: relative;
	padding-left: 20px;

	> a.toggle {
		position: relative;
		font-size: 16px;

		.wishlist-count {
			position: absolute;
			top: -5px;
			left: calc(100% - 5px);
			height: 16px;
			line-height: 16px;
			font-size: 12px;
			font-weight: 700;
			text-align: center;
			border-radius: 10px;
			z-index: 1;
			padding: 0 5px;
		}
	}

	.wishlist-dropdown-wrapper {
		position: absolute;
		top: 180%;
		right: 0;
		z-index: 20;
		visibility: hidden;
		width: 320px;
		background-color: #ffffff;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
		opacity: 0;

		@extend %transit;
	}

	.widget_wishlist_title {
		font-weight: 600;
		text-transform: uppercase;
		color: $color__secondary;
		border-bottom: 1px solid #eeeeee;
		padding-bottom: 5px;

		.undo {
			visibility: hidden;
			float: right;
			text-transform: none;
			font-weight: 400;
			font-size: 11px;
			opacity: 0;

			@extend %transit;

			&.visible {
				visibility: visible;
				opacity: 1;
			}

			a {
				text-decoration: underline;
			}
		}

		.close-on-mobile {
			float: right;
			font-size: 0;
			margin-right: -20px;
			margin-top: -20px;
			color: $color__secondary;

			&:before {
				font-size: 50px;

				@include pe-icon('\e680');
			}
		}
	}

	.widget_wishlist_content {
		padding: 20px;
	}

	.wishlist_items.product_list_widget {
		margin: 0 -10px;
		padding: 0 10px;
		max-height: 330px;
		list-style: none;

		&.loading {

			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
				content: url(assets/images/loading.svg);
				transform: translate(-50%, -50%);
			}

			&:after {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 0;
				background-color: #ffffff;
				content: '';
				opacity: .9;
			}
		}
	}

	.wishlist_item {
		position: relative;
		display: table;
		margin-bottom: 20px;
		min-height: 100px;
		width: 100%;
		border-bottom: 1px solid #eeeeee;

		@extend %transit;

		&.deleted {
			position: absolute;
			width: calc(100% - 20px);
			opacity: 0;

			@include animation(widget-item-slide-out .3s forwards);

			+ .wishlist_item:not(.deleted):not(.undo-deleted) {
				@include animation(widget-item-move-up .3s forwards);
			}
		}

		&.undo-deleted {
			@include animation(widget-item-slide-in .3s forwards);

			+ .wishlist_item:not(.deleted):not(.undo-deleted) {
				@include animation(widget-item-move-down .3s forwards);
			}
		}
	}

	.wishlist_item_product_image {
		display: table-cell;
		padding-right: 15px;
		width: 90px;
		vertical-align: top;
	}

	.wishlist_item_right {
		display: table-cell;
		vertical-align: top;
	}

	.remove {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0;

		&:before {
			vertical-align: -4px;
			font-size: 20px;
			line-height: 0;

			@include pe-icon('\e680');
		}

		&:hover {
			color: #ff0000;
		}
	}

	.product-title {
		font-size: 16px;
		line-height: 1.2;
		max-width: 90%;
		margin-top: 0;
		margin-bottom: 10px;

		a {
			font-weight: 500;
		}
	}

	.amount {
		font-size: 18px;
		font-weight: 600;
		color: $color__price;
	}

	del .amount {
		font-size: 14px;
		font-weight: 400;
		color: #aaaaaa;
	}

	.button {
		display: block;
		text-transform: uppercase;
		margin-top: 10px;
	}

	.add-to-cart-btn {
		display: block;

		&:before,
		&:after {
			display: none;
		}

		.button {
			font-size: 13px;
			letter-spacing: .05em;
			background: none !important;
			border: none;
			margin-top: 5px;
			padding: 0;

			&:before {
				margin-right: 5px;
			}

			&.product_type_grouped:before {
				@include fa-icon('\f06e');
			}

			&.product_type_variable:before {
				@include fa-icon('\f046');
			}

			&.product_type_simple:before {
				@include fa-icon('\f291');
			}
		}
	}

	.added_to_cart {
		display: none;
	}

	.btn-view-wishlist {
		padding: 5px 10px;
		color: #ffffff;
		text-align: center;
		letter-spacing: .1em;

		&:hover {
			opacity: .8;
		}
	}

	.outofstock {
		margin-top: 5px;
		color: #cd5c5c;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
	}

	@include media-breakpoint-down(sm) {

		padding-left: 0;

		> a.toggle > i {
			margin-left: 0;
		}
	}

	@include media-breakpoint-down(lg) {

		.wishlist-dropdown-wrapper {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1000;
			display: block;
			visibility: visible;
			overflow: hidden;
			width: 270px;
			height: 100vh;
			box-shadow: none;
			opacity: 1;
			-webkit-overflow-scrolling: touch;
			transform: translate3d(-100%, 0, 0);
			transition: transform .3s ease-in-out;

			.mobile-wishlist-opened & {
				@include transform(translate3d(0, 0, 0));
			}
		}
	}

	@include media-breakpoint-up(md) {
		@include media-breakpoint-down(lg) {

			.product_list_widget {
				max-height: 500px;
			}
		}

	}

	@include media-breakpoint-up(lg) {

		&.wishlist-open {

			.wishlist-dropdown-wrapper {
				top: 150%;
				visibility: visible;
				opacity: 1;
			}

			.sticky-header.is-sticky & {
				.wishlist-dropdown-wrapper {
					top: 100%;
				}
			}
		}
	}

	@media (min-width: 1440px) {

		.product_list_widget {
			max-height: 400px;
		}
	}
}
