.site-menu {
	position: relative;
	display: table-cell;
	vertical-align: middle;

	&.menu-align-center {
		text-align: center;
	}

	&.menu-align-right {
		text-align: right;
	}

	.menu > ul,
	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
	}

	.menu-item-icon {
		margin-right: 10px;
	}

	.menu > ul > li,
	.menu > li {
		position: relative;
		display: inline-block;
		padding: 0 25px;
		vertical-align: top;
		font-size: 14px;

		> a {
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
			line-height: 1.5;
			letter-spacing: .1em;

			&:after {
				content: '';
				position: absolute;
				bottom: -4px;
				left: 50%;
				width: 0;
				height: 2px;
				background-color: $color__primary;
				transform: translateX(-50%);

				@extend %transit;
			}

			> i {
				margin-right: 10px;
			}
		}
	}

	.menu li.page_item,
	.menu li.menu-item {

		&:hover {

			> a:after {
				width: 100%;
			}

			> .children,
			> .sub-menu {
				top: 100%;
				z-index: 999;
				visibility: visible;
				opacity: 1;
			}
		}

		&.page_item_has_children,
		&.menu-item-has-children {

			> a {
				padding-right: 10px;
			}

			> a:before {
				font-size: 12px;
				position: absolute;
				top: 50%;
				right: -2px;
				opacity: .6;
				transform: translateY(-50%);

				@include fa-icon('\f107');
			}
		}
	}

	.menu li.current_page_item,
	.menu li.current-menu-item {

		> a:after {
			width: 100%;
		}
	}

	.menu > ul > li .children,
	.menu > li .sub-menu {
		position: absolute;
		top: 120%;
		left: 0;
		z-index: -1;
		visibility: hidden;
		margin: 0;
		width: 200px;
		background-color: #ffffff;
		box-shadow: -2px 2px 81px -27px rgba(0, 0, 0, .29);
		list-style: none;
		text-align: left;
		opacity: 0;
		padding: 10px 0;
		transition: opacity .3s ease, visibility .3s ease, top .5s ease, z-index .1s ease;

		&.hover-back {
			right: 0;
			left: auto;
		}
	}

	.menu > ul > li .children li.page_item,
	.menu > li .sub-menu li.menu-item {

		position: relative;
		display: block;
		line-height: 1.5;

		&.page_item_has_children,
		&.menu-item-has-children {

			> a:before {
				display: none;
			}

			&:after {
				position: absolute;
				top: 50%;
				right: 10px;
				color: #dddddd;
				font-size: 16px;
				background-color: transparent !important;
				margin: -1px;
				transform: translateY(-50%);

				@extend %transit;
				@include fa-icon('\f105');
			}

			&.has-hover-back {

				&:after {
					@include fa-icon('\f104');
				}

				> a {
					padding-left: 25px;
				}
			}
		}

		&.current_page_item,
		&.current-menu-item {

			&:before {
				opacity: 1 !important;
				width: 12px !important;
			}

			> a {
				transform: translate(5px);
			}
		}

		&:not(.menu-item-object-ic_mega_menu):before {
			opacity: 0;
			content: '';
			height: 1px;
			width: 0;
			position: absolute;
			top: 50%;
			left: 14px;
			margin-right: 5px;

			@extend %transit;
		}

		&:hover {

			&:before {
				opacity: 1;
				width: 12px;
			}

			> a {
				transform: translate(5px);
			}

			> .children,
			> .sub-menu {
				left: 100%;

				&.hover-back {
					right: 100%;
				}
			}
		}

		a {
			display: block;
			padding: 12px 30px;
		}

		.children,
		.sub-menu {
			top: 0;
			left: 110%;

			&.hover-back {
				right: 110%;
				left: auto;

				li.page_item_has_children,
				li.menu-item-has-children {

					&:after {
						@include fa-icon('\f104');
					}

					> a {
						padding-left: 25px;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {

		.menu > li.mega-menu {
			position: static;

			&.mega-menu-custom {
				position: relative;
			}

			.sub-menu {
				width: 100%;
			}

			.mega-menu-content {
				padding: 30px 15px;
			}
		}
	}
}

// Reset Style for Megamenu.
.site-menu .menu > li.mega-menu .sub-menu {
	padding: 0;

	li.menu-item a {
		display: inline-block;
		padding: 0;
	}
}
