.nice-select {

	&:after {
		position: absolute;
		top: 50%;
		right: 0;
		width: auto;
		height: auto;
		border: none;
		pointer-events: none;
		color: #333333;
		transform: translateY(-50%);
		margin-top: 0;

		@extend %transit;
		@include fa-icon('\f107');
	}
}

.nice-select.open:after {
	transform: rotate(0) translateY(-50%);
	@include fa-icon('\f106');
}

.nice-select .current {
	@extend %transit;
}

.nice-select .list {
	border-radius: 0;
	margin-top: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	transform: translateY(0);
}

.nice-select .option {
	min-height: 0;
	line-height: initial;
	padding: 8px 15px;

	@extend %transit;

	&:hover,
	&.focus,
	&.selected.focus {
		background-color: #ffffff;
	}

	&:hover {
		transform: translate(5px);
	}

	&.selected {
		font-weight: 400;
	}
}
