.scroll-to-top {
	display: block;
	color: #ffffff !important;
	cursor: pointer;
	z-index: 2;
	position: fixed;
	right: 30px;
	bottom: -50px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	font-size: 0;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .3);

	i {
		text-align: center;
		font-size: 35px;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;

		&:before,
		&:after {
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;

			@extend %transit;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: -100%;

			@include fa-icon('\f106');
		}
	}

	&.show {
		bottom: 50px;
		opacity: .8;
	}

	&:hover {
		opacity: 1;

		i {

			&:before {
				top: -100%;
			}

			&:after {
				bottom: 0;
			}
		}
	}
}
