/**
 * Cart page
 */
.woocommerce-cart table.cart {
	border: none;
	width: 100%;

	thead {
		display: none;
	}

	tr {
		border: 1px solid #ededed;
	}

	td {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	td.product-remove {
		text-align: center;

		a {
			font-size: 0;

			&:before {
				font-size: 20px;

				@include pe-icon('\e680');
			}
		}
	}

	td.product-thumbnail {
		width: 80px;
	}

	td.product-name {
		width: 30%;
		padding-left: 20px;

		a {
			display: block;
			font-size: 16px;
			font-weight: 500;
			line-height: 1;
			margin-bottom: 3px;
		}
	}

	.woocommerce-Price-amount {
		font-size: 18px;
		color: #333333;
	}
}

.cart-actions {
	margin-top: 35px;

	.coupon label {
		display: none;
	}

	#coupon_code {
		display: inline-block;
		max-width: 270px;
		background-color: #ffffff;
		margin-right: 16px;
	}

	input[type='submit'].button {
		color: #333333;
		background-color: #f9f9f9;
		border-color: #f9f9f9;

		&:hover {
			background-color: #f1f1f1;
		}
	}

	button[name='update_cart'] {
		float: right;
		cursor: pointer;
	}

	@include media-breakpoint-down(sm) {

		#coupon_code {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}

		button[name='update_cart'] {
			float: none;
			margin-top: 20px;
		}
	}
}

.cart-collaterals {
	margin-top: 60px;

	h2 {
		font-size: 25px;
		margin-top: 0;
		text-transform: uppercase;
	}

	.cross-sells {
		.slick-slide {
			max-width: 100%;
		}
	}

	.cart_totals {
		float: right;
		width: 50%;
		background-color: #f7f7f7;
		padding: 30px;

		input[type='text'] {
			background-color: #ffffff;
		}
	}

	table.shop_table {
		width: 100%;
		border: none;
		margin-bottom: 30px;

		th {
			font-weight: 400;
			color: #333333;
			border: none;
		}

		td {
			text-align: right;
			border: none;
		}
	}

	form.woocommerce-shipping-calculator p {
		margin-bottom: 10px;
	}

	@include media-breakpoint-down(sm) {

		.cart_totals {
			padding: 30px 20px;
		}

		table.shop_table.shop_table_responsive {

			tr {
				display: table-row;
				border-bottom: 1px solid #ededed;
				padding: 0;
			}

			td {
				display: table-cell;
				text-align: right;
				padding-right: 10px !important;
			}
		}

	}

	@include media-breakpoint-down(md) {

		.cart_totals {
			float: none;
			width: 100%;
			margin-top: 30px;
		}

		.slick-arrow {
			background-color: #ffffff !important;
			box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
		}
	}
}
