/**
 * Style for archive product pages
 */

.archive.woocommerce #main.site-content {
	.term-description,
	.page-description {
		display: none;
	}
}

.shop-menu {
	max-width: 1200px;
	padding-bottom: 10px;
	margin: 30px auto 0;
}

a.show-categories-menu {
	display: none;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: .1em;
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 3px solid;

	&:after {
		margin-left: 5px;

		@include fa-icon('\f107');
	}

	&.open:after {
		@include fa-icon('\f106');
	}
}

ul.product-categories-menu {
	font-size: 0;
	max-height: 35px;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;

	li.cat-item {
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: .1em;
		display: inline-block;
		border-bottom: 1px solid rgba(255, 255, 255, .4);
		padding-bottom: 10px;

		&:hover a:after {
			width: 100%;
		}

		> a {
			position: relative;
			margin: 0 20px;
			padding-bottom: 10px;

			&:after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: -3px;
				height: 3px;
				width: 0;

				transform: translateX(-50%);
				@extend %transit;
			}
		}
	}

	li.shop-back-link {

		a span {
			display: inline-block;
			margin-right: 5px;

			@extend %transit;
		}

		a:hover span {
			transform: translateX(-5px);
		}
	}

	+ select {
		display: none;
	}
}

.categories-carousel {
	opacity: 0;

	@extend %transit;

	.product-category--content > a {
		margin-left: 0;
		margin-right: 0;
	}

	&.slick-initialized {
		opacity: 1;
		margin-bottom: 50px;
	}
}

.shop-loop-head {
	align-items: center;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 30px;
	border-bottom: 1px solid #eeeeee;

	> div {
		padding: 0;
		margin-bottom: 8px;
	}

	.woocommerce-result-count {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
	}

	.switch-view {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
	}

	.switcher {
		display: inline-block;
		text-align: center;
		width: 30px;
		height: 30px;
		line-height: 28px;
		cursor: pointer;
		border: 1px solid #eeeeee;
		margin-right: 5px;

		@extend %transit;
	}
}

.shop-filter {

	.woocommerce-ordering {
		text-align: right;
		display: inline-block;
		vertical-align: middle;
	}

	select.orderby {
		display: none;
	}

	.nice-select {
		border: none;
		height: auto;
		padding-left: 20px;
		padding-right: 25px;
	}

	.nice-select .list {
		width: 130%;
	}

	.nice-select .current {
		font-size: 16px;
		letter-spacing: .05em;
	}

	.nice-select .option {
		font-size: 16px;
	}

	@include media-breakpoint-up(lg) {
		text-align: right;

		.nice-select .list {
			left: auto;
			right: 0;
		}
	}
}

.col-switcher {
	display: inline-block;
	vertical-align: middle;
	background-color: #f5f5f5;

	@extend %transit;

	.wrapper {
		width: 34px;
		height: 34px;
		overflow: hidden;
		padding-left: 10px;
	}

	i {
		float: right;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		width: 34px;
		height: 34px;
		line-height: 34px;
	}

	span {
		display: inline-block;
		vertical-align: middle;
		line-height: 34px;
	}

	a {
		display: inline-block;
		vertical-align: middle;
		line-height: 34px;
		padding-left: 5px;
		padding-right: 5px;
	}

	a.active {
		font-weight: 600;
	}

	a[data-col="1"] {
		display: none;
	}

	&.open .wrapper {
		width: auto;
	}
}

.archive.woocommerce.post-type-archive-product .has-sidebar-left .col-switcher,
.archive.woocommerce.post-type-archive-product .has-sidebar-right .col-switcher,
.archive.woocommerce.tax-product_cat .has-sidebar-left .col-switcher,
.archive.woocommerce.tax-product_cat .has-sidebar-right .col-switcher {

	a[data-col="5"],
	a[data-col="6"] {
		display: none;
	}
}

@include media-breakpoint-up(xl) {

	.archive.woocommerce .main-container .container.wide {
		.product.col-xl-3 {
			flex: 0 0 24.99%;
			max-width: 24.99%;
		}
	}
}

@include media-breakpoint-up(lg) {

	.archive.woocommerce.post-type-archive-product .main-container .container.wide,
	.archive.woocommerce.tax-product_cat .main-container .container.wide {
		max-width: 95%;

		.has-sidebar-left .col-switcher,
		.has-sidebar-right .col-switcher {

			a[data-col="5"],
			a[data-col="6"] {
				display: inline-block;
			}
		}
	}
}

@include media-breakpoint-down(md) {

	a.show-categories-menu {
		display: inline-block;
	}

	ul.product-categories-menu {
		width: auto !important;
		display: none;
		max-height: 300px;

		li.cat-item {
			display: block;
			padding-top: 10px;
			border: none;

			> a:after {
				display: none;
			}
		}

		.ps-scrollbar-x-rail,
		.ps-scrollbar-y-rail {
			opacity: .6;
		}
	}

	.col-switcher {

		a {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.archive.woocommerce.post-type-archive-product .has-sidebar-left .col-switcher,
	.archive.woocommerce.post-type-archive-product .has-sidebar-right .col-switcher,
	.archive.woocommerce.tax-product_cat .has-sidebar-left .col-switcher,
	.archive.woocommerce.tax-product_cat .has-sidebar-right .col-switcher {

		a[data-col="4"],
		a[data-col="5"],
		a[data-col="6"] {
			display: none;
		}
	}

	.archive.woocommerce.post-type-archive-product .has-no-sidebars .col-switcher,
	.archive.woocommerce.tax-product_cat .has-no-sidebars .col-switcher {

		a[data-col="6"] {
			display: none;
		}
	}
}

@include media-breakpoint-down(sm) {

	.shop-loop-head .switch-view {
		display: none;
	}

	.shop-filter {
		margin-top: 10px;

		.nice-select {
			padding-left: 0;
		}

		.woocommerce-ordering {
			text-align: left;
			display: block;
		}
	}

	.col-switcher {

		a[data-col="1"] {
			display: inline-block !important;
		}

		a[data-col="3"] {
			display: none;
		}
	}
}
