/**
Style for product category thumbnails within loops
 */
.category-grid-item {
	margin-bottom: 30px;

	&:hover {
		img {
			transform: scale(1.05);
		}

		.product-category-content {
			border-bottom-color: #cccccc;
		}

		.product-category-content .category-link:after {
			margin-left: 10px;
		}
	}

	&.slick-slide a {
		margin-left: 0;
		margin-right: 0;
	}

	.product-category-thumbnail {
		position: relative;
		overflow: hidden;
	}

	.product-category-thumbnail a {
		display: block;
		margin: 0;
	}

	img {
		width: 100%;
		backface-visibility: hidden;
		@extend %transit;
	}

	.woocommerce-loop-category__title {
		text-align: center;
		font-size: 24px;
		font-weight: 600;
		letter-spacing: .03em;
		line-height: 1.5;
		padding-top: 20px;
		margin: 0;

		@include media-breakpoint-only(md) {
			font-size: 16px;
		}
	}

	mark {
		font-size: 16px;
		font-weight: 400;
		text-transform: none;
		background-color: transparent;
		padding: 0;
		opacity: 1;

		@extend %transit;

		@include media-breakpoint-down(sm) {
			display: block;
		}
	}

	.product-category-content {
		text-align: center;
		border-bottom: 2px solid #f5f5f5;
		padding: 0 15px;

		@extend %transit;
	}

	.product-category-content .category-link a {
		display: inline-block;
		text-align: center;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 1.3em;
		letter-spacing: 0;
		color: #cccccc;
		margin-top: 5px;
		margin-bottom: 30px;
	}

	.product-category-content .category-link:after {
		position: relative;
		font-size: 10px;
		vertical-align: 1px;
		color: #cccccc;
		margin-left: 5px;

		@include fa-icon('\f061');
		@extend %transit;
	}

	.hide_count & {

		mark {
			display: none !important;
		}
	}
}
