.woocommerce.single-product .product.product-layout-fullwidth {
	@include media-breakpoint-up(lg) {

		> .container.full-width {
			max-width: 95%;
		}

		.entry-summary {
			max-width: 600px;
			padding-left: 50px;
		}
	}
}

.woocommerce.single-product .product.product-layout-sticky {

	.row.sticky-row {
		align-items: flex-start;
	}

	.woocommerce-product-gallery__image {margin-bottom: 10px !important;}

	.images .thumbnails {
		opacity: 1;
		visibility: visible;

		> a {
			opacity: 0;
			visibility: hidden;
			display: block;
			margin-bottom: 10px;
			transform: translateY(100px);
			animation-duration: .5s;
			animation-delay: .2s;

			&.animate-images {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}

		img {
			width: 100%;
		}
	}

	@include media-breakpoint-down(md) {

		.summary {
			position: relative !important;
			left: auto !important;
			top: auto !important;
			bottom: auto !important;

			+ div {
				display: none !important;
			}
		}
	}
}

.woocommerce.single-product .product.product-title-hide .product_title {
	display: none;
}

.woocommerce.single-product .product .images {
	margin-bottom: 40px;

	&.thumbnails-bottom {

		.woocommerce-product-gallery__image {
			margin-bottom: 30px;
		}
	}

	.woocommerce-product-gallery__image {
		position: relative;
	}

	.woocommerce-main-image img {
		width: 100%;
	}

	.thumbnails {
		opacity: 0;
		visibility: hidden;
		transition: opacity .4s ease, height .4s ease;

		.slick-slide {
			opacity: .5;
			margin-left: 7px;
			margin-right: 7px;
			border: none;

			&.selected-image {
				opacity: 1;
			}

			img {
				width: 100%;
			}
		}

		.slick-dots {
			margin-top: 20px;
		}

		&.slick-initialized {
			opacity: 1;
			visibility: visible;
		}

		&.slick-slider {
			margin: 0 -7px;

			.slick-arrow {
				height: 30px;
				width: 30px;
				opacity: .4;
				visibility: visible;

				&:before {
					height: 30px;
					width: 30px;
					line-height: 30px;
					font-size: 14px;
				}

				&.slick-next {
					right: 7px;
				}

				&.slick-prev {
					left: 7px;
				}
			}
		}

		&.slick-vertical {
			margin: 0;

			.slick-arrow {
				left: 0 !important;
				height: 30px;
				width: 100%;
				color: #ffffff;
				opacity: .4;
				background-color: $color__secondary;
				transform: translateY(0);

				&:before {
					height: 30px;
					width: 100%;
					line-height: 30px;
				}

				&:hover {
					opacity: .6;
					color: #ffffff;
					background-color: $color__secondary;
				}

				&.slick-next {
					top: auto;
					bottom: 0;

					&:before {
						content: '\f078';
					}
				}

				&.slick-prev {
					top: 0;

					&:before {
						content: '\f077';
					}
				}
			}

			.slick-arrow + .slick-list {
				padding: 50px 0;
			}

			.slick-slide {
				margin: 0 0 15px;
			}
		}
	}

	.product-badges {
		font-size: 15px;

		span {
			left: auto;
			right: 7px;
			min-width: 70px;
			padding: 3px 15px;

			+ span {
				top: 55px;

				+ span {
					top: 110px;
				}
			}
		}
	}

	.lightbox-btn {
		font-size: 0;
		position: absolute;
		right: 10px;
		bottom: 10px;
		z-index: 1;

		i {
			font-size: 30px;
		}
	}

	@include media-breakpoint-down(sm) {

		.woocommerce-product-gallery__image {
			margin-bottom: 30px;
		}
	}

	@include media-breakpoint-up(md) {

		&.thumbnails-left {

			> div.col-md-9 {
				padding-left: 0;
			}

			.product-badges span {
				right: 0;
			}
		}
	}
}

.woocommerce.single-product .product .summary {

	font-size: 0;
	z-index: 1;

	table {
		border: none;

		td {
			border: none;
		}
	}

	.product_title {
		font-size: 28px;
		line-height: 1;
	}

	.woocommerce-review-link {
		font-size: 16px;
		vertical-align: middle;
	}

	.star-rating {
		margin-right: 5px;

		&:before {
			font-size: 15px;
		}

		> span:before {
			font-size: 15px;
		}
	}

	.price {
		font-size: 30px;
		font-weight: 600;
		margin-top: 15px;
		margin-bottom: 10px;
		color: $color__price;

		del {
			margin-right: 10px;
		}
	}

	.woocommerce-product-details__short-description {
		letter-spacing: .03em;
		line-height: 1.6;
		margin-bottom: 30px;
	}

	.stock {
		display: inline-block;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
		line-height: 2;
		letter-spacing: .1em;
		border: 2px solid transparent;
		padding: 0 5px;

		&.in-stock {
			color: #297e29;
			border-color: #297e29;
		}

		&.out-of-stock {
			color: #8b0000;
			border-color: #8b0000;
			margin: 0;
		}
	}

	form.cart {
		font-size: initial;

		.quantity {
			margin-right: 10px;
		}
	}

	// variations form
	form.variations_form {

		table {
			width: 100%;
			border: none;
			margin-bottom: 30px;

			td {
				border: none;

				&.label {
					width: 20%;
				}
			}
		}

		label {
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: .01em;
			color: #333333;
			margin-bottom: 0;
		}

		.reset_variations {
			font-size: 8px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: .1em;
			text-decoration: underline;
			margin-left: 20px;
		}

		.isw-swatch {
			vertical-align: middle;
		}

		.isw-swatch--isw_color .isw-term {
			vertical-align: middle;
			height: 24px;
			width: 24px;
			line-height: 24px;

			&.isw-selected {
				box-shadow: 0 0 0 4px #fff, 0 0 0 5px #aaa;
			}
		}

		.isw-swatch--isw_image .isw-term {
			height: 24px;
			width: 24px;
			border-radius: 100%;

			&.isw-selected {
				box-shadow: 0 0 0 4px #fff, 0 0 0 5px #aaa;
			}
		}

		.single_variation {
			margin-bottom: 20px;
		}

		.woocommerce-variation-description {
			margin-bottom: 30px;
		}

		.out-of-stock {
			margin-top: 15px;
		}
	}

	.quantity {
		display: inline-block;
		vertical-align: top;
	}

	.single_add_to_cart_button.loading {
		position: relative;
		padding-left: 40px;

		&:before {
			content: url(assets/images/loading.svg);
			position: absolute;
			left: 10px;
		}
	}

	// meta buttons
	.product-meta-buttons {
		font-size: 16px;
		padding-top: 25px;
		margin-top: 30px;
		border-top: 1px solid #eeeeee;

		> div {
			display: inline-block;
			vertical-align: top;

			a {
				color: currentColor;
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: .1em;
			}
		}

		[class*='hint--'] {

			&:before,
			&:after {
				display: none;
			}
		}
	}

	.yith-wcwl-add-to-wishlist {
		margin-top: 0;
		margin-right: 20px;

		.ajax-loading, .feedback {
			display: none !important;
		}

		a:before {
			display: inline-block;

			@extend %fa-icon;
		}

		.yith-wcwl-add-button {

			a.add_to_wishlist {

				&:before {
					content: '\f08a';
				}

				&.loading {

					&:before {
						content: url(assets/images/loading.svg);
						line-height: 0;
						vertical-align: -5px;
					}
				}
			}
		}

		.yith-wcwl-wishlistaddedbrowse,
		.yith-wcwl-wishlistexistsbrowse {

			a {

				&:before {
					content: '\f004';
				}
			}
		}
	}

	.compare-btn {

		.blockUI.blockOverlay {
			display: none !important;
		}

		&.loading a:before {
			content: url(assets/images/loading.svg);
			vertical-align: middle;
		}

		a:before {
			margin-right: 7px;

			@include fa-icon('\f0ec');
		}

		@include media-breakpoint-down(sm) {
			display: none !important;
		}
	}

	// group product
	table.group_table {
		width: 100%;
		margin-bottom: 20px;

		td:first-of-type {
			width: 150px;

			.quantity {
				margin-right: 0;
			}
		}

		td.label {
			font-size: 16px;
			font-weight: 500;

			label {
				margin: 0;
			}
		}

		td.price {
			font-size: 18px;
		}

		.add-to-cart-btn > a {
			text-align: center;
			font-size: 12px;
			background-color: transparent !important;
			border: none !important;
			padding: 0;

			&.product_type_external:before {
				margin-right: 5px;

				@include fa-icon('\f08e');
			}
		}
	}

	table.product_meta,
	table.product-share {
		width: 80%;

		td {

			&.label {
				width: 30%;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 500;
				letter-spacing: .1em;
				color: #333333;
			}

			&.value {
				a {
					color: currentColor;
				}
			}
		}
	}

	// product meta
	table.product_meta {
		margin-top: 20px;

		td {
			padding-left: 0;
		}
	}

	// product share
	table.product-share {

		.share-list__item {
			font-size: 16px;
		}

		td {
			padding-left: 0;
		}
	}

	@include media-breakpoint-down(sm) {

		form.variations_form {

			table {

				td {
					vertical-align: top;
					&.label {
						width: 40%;
					}
				}
			}
		}

		table.group_table {
			text-align: center;
			border: 1px solid #ededed;

			tr {
				display: block;
				padding-top: 18px;
				padding-bottom: 10px;
				border-bottom: 1px solid #ededed;
			}

			td {
				display: block;
				width: 100% !important;
				padding: 0;

				&:first-of-type {
					margin-bottom: 10px;
				}

				&.price {
					margin: 0;
				}
			}
		}

		table.product_meta,
		table.product-share {
			width: 100%;

			tr {
				display: block;
				margin-bottom: 10px;
			}

			td {
				display: inline-block;
				width: auto !important;
				padding: 0;

				&.label {
					margin-right: 5px;
				}
			}
		}
	}
}

.woocommerce.single-product .product .product-tabs-wrapper {
	margin-top: 80px;

	.wc-tabs {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		border-top: 1px solid #ededed;

		li {
			position: relative;
			display: inline-block;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: .1em;
			text-transform: uppercase;
			margin: 0 22px;

			&:after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0;
				height: 3px;
				width: 0;

				@extend %transit;
				@include transform(translateX(-50%));
			}

			&.active:after,
			&:hover:after {
				width: 100%;
			}

			> a {
				display: inline-block;
				padding: 20px 0 18px;
			}
		}
	}

	.wc-tabs-panel-wrapper {
		background-color: #f7f7f7;
		padding: 80px 0 60px;
	}

	.woocommerce-Tabs-panel {

		&--description,
		&--additional_information {

			> h2 {
				display: none;
			}
		}

		&--additional_information {

			table.shop_attributes {
				width: 100%;
				max-width: 550px;
				margin: 0 auto;
				font-size: 16px;

				th {
					color: #333333;
					border-top: 1px solid #ededed;
					padding: 15px 10px;
				}

				td {
					padding: 15px 10px;
				}
			}
		}

		&--reviews {
			margin-top: -40px;
		}
	}
}

/*  comments & reviews */
.woocommerce.single-product .product #comments {
	padding-top: 40px;

	> h2 {
		font-size: 20px;
		margin-top: 0;
		text-transform: uppercase;
		letter-spacing: .1em;
	}

	.commentlist,
	.commentlist .children {
		@include list-unstyled;
	}

	.comment {

		.avatar {
			position: relative;
			border-radius: 50%;
			z-index: 1;
			display: block;
			margin: 0 auto;

			@include media-breakpoint-up(md) {
				float: left;
				margin-top: 30px;
			}
		}

		.star-rating {
			float: right;
		}

		.meta {
			font-size: 0;
			margin-bottom: 15px;

			strong[itemprop="author"] {
				font-size: 16px;
				font-weight: 600;
				color: #333333;
			}

			time {
				display: block;
				font-size: 14px;
				letter-spacing: .03em;

				&:before {
					@include fa-icon('\f272');
					margin-right: 5px;
				}
			}
		}

		.comment-text {
			background-color: #ffffff;
		}
	}

	@include media-breakpoint-up(lg) {
		float: left;
		width: 50%;
		padding-right: 40px;
	}

	@include media-breakpoint-up(md) {

		.comment .children {
			margin-left: 100px;
		}
	}
}

.woocommerce.single-product .product #review_form_wrapper {
	padding-top: 40px;

	#reply-title {
		font-size: 20px;
		line-height: 1.2;
		display: block;
		letter-spacing: .05em;
		margin-bottom: 25px;
	}

	.comment-form {

		label {
			display: inline-block;
			vertical-align: middle;
			margin-right: 40px;
		}

		.comment-form-rating label {
			margin-bottom: 0;
		}

		.stars {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			white-space: nowrap;
			line-height: 0;
			margin-bottom: 0;

			&:hover {
				a:before {
					content: '\f005';
				}
			}

			&.selected {

				a.active:before {
					content: '\f005';
				}

				a:not(.active):before {
					content: '\f005';
				}

				a.active ~ a:before {
					content: '\f006';
				}

			}

			> span {
				display: inline-block;
				line-height: 0;
			}

			a {
				font-size: 0;
				position: relative;
				display: inline-block;
				vertical-align: top;
				text-indent: -999em;
				color: #fbd232;

				&:before {
					display: block;
					position: relative;
					top: 0;
					left: 0;
					width: 1em;
					height: 1em;
					font-size: 15px;
					text-indent: 0;
					overflow: hidden;

					@include fa-icon('\f006');
				}

				&:hover ~ a:before {
					content: '\f006';
				}
			}
		}

		textarea,
		input[type='text'],
		input[type='email'] {
			background-color: #ffffff;
		}
	}

	.comment-form-comment {
		margin-top: 20px;
	}

	@include media-breakpoint-up(lg) {
		float: left;
		width: 50%;
		border-left: 1px solid #efefef;
		padding-bottom: 40px;
		padding-left: 40px;
	}
}

/* up sells and related products */
.up-sells,
.related {
	margin-top: 100px;

	> h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 35px;
		margin-top: 0;
		margin-bottom: 50px;
	}

	@include media-breakpoint-up(md) {

		.slick-arrow.slick-prev {
			left: -20px;
		}

		.slick-arrow.slick-next {
			right: -20px;
		}
	}

	@include media-breakpoint-down(lg) {

		.slick-arrow {
			background-color: #ffffff !important;
			box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
		}
	}
}

/* product instagram */
.product-instagram {
	border-top: 1px solid #eeeeee;
	padding-top: 50px;

	p {
		margin-bottom: 45px;

		> a {
			font-weight: 600;
		}
	}

	.tm-instagram-pics {
		margin: 0;

		.item {
			padding: 0;

			&:hover {

				.item-info span {
					padding-left: 40px;
				}

				.item-info span:before {
					width: 30px;
				}
			}
		}

		.item-info {
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .1em;
			color: #ffffff;

			a {
				color: #ffffff !important;
			}

			span {
				position: relative;
				transition-delay: .3s;

				@extend %transit;

				&:before {
					content: '';
					height: 1px;
					width: 0;
					position: absolute;
					left: 0;
					top: 50%;
					background-color: #ffffff;
					transition-duration: .5s;

					@include transform(translateY(-50%));
					@extend %transit;
				}
			}
		}
	}
}
