/* Account page */
.woocommerce-account {

	.woocommerce-MyAccount-navigation {
		float: left;
		width: 30%;
		padding-right: 15px;
		margin-bottom: 40px;

		ul {
			list-style: none;
			border: 1px solid #eeeeee;
			padding: 0;
			margin: 0;

			li {
				border-bottom: 1px solid #eee;

				&:last-of-type {
					border-bottom: none;
				}

				&.is-active > a {
					background-color: #fafafa;
					cursor: default;
				}

				> a {
					position: relative;
					display: block;
					text-transform: uppercase;
					padding: 14px 20px;

					&:after {
						display: inline-block;
						font-size: 20px;
						position: absolute;
						right: 20px;

						@extend %pe-icon;
					}
				}

				&.woocommerce-MyAccount-navigation-link {

					&--dashboard > a:after {
						content: '\e648';
					}

					&--orders > a:after {
						content: '\e69d';
					}

					&--downloads > a:after {
						content: '\e65c';
					}

					&--edit-address > a:after {
						content: '\e638';
					}

					&--payment-methods > a:after {
						content: '\e600';
					}

					&--edit-account > a:after {
						content: '\e605';
					}

					&--customer-logout > a:after {
						content: '\e699';
					}
				}
			}
		}
	}

	.woocommerce-MyAccount-content {
		float: right;
		width: 68%;
		padding-left: 15px;

		> p:not(.woocommerce-info) {
			padding: 20px;
			background-color: #fafafa;

			&:first-child {
				font-size: 14px;
				margin-bottom: 20px;
			}
		}

		> p:first-child strong {
			color: #333333;
		}

		h2 {
			font-size: 25px;
			text-transform: uppercase;
		}

		fieldset {
			border: 1px solid #ddd;
			padding: 20px 40px;
			margin-top: 50px;
			margin-bottom: 30px;

			legend {
				color: #333333;
				font-size: 20px;
				text-transform: uppercase;
				letter-spacing: .1em;
				line-height: 1.5;
				width: auto;
				padding: 0 15px;
			}
		}
	}

	@include media-breakpoint-down(md) {
		.woocommerce-MyAccount-navigation,
		.woocommerce-MyAccount-content {
			width: 100%;
			padding: 0;
		}
	}
}

/* Login form */
#customer_login {

	position: relative;
	margin-top: 20px;
	margin-bottom: 60px;

	h2 {
		font-size: 25px;
		text-transform: uppercase;
		margin-bottom: 20px;

		&:before {
			display: inline-block;
			font-size: 24px;
			margin-right: 10px;

			@extend %pe-icon;
		}
	}

	.woocommerce-FormRow--wide {
		width: 100%;
	}

	.col-1 {
		padding-right: 40px;

		h2:before {
			content: '\e607';
		}
	}

	.col-2 {
		padding-left: 40px;

		h2:before {
			content: '\e605';
		}
	}

	label[for='rememberme'] {
		cursor: pointer;
		margin-top: 20px;
	}

	.woocommerce-Button {
		width: 100%;
		margin: 0;

		&[name='register']:hover {
			opacity: .8;
		}
	}

	.woocommerce-LostPassword {
		position: relative;
		text-align: right;
		float: right;
		margin-top: -53px;

		> a:before {
			display: inline-block;
			vertical-align: middle;
			font-size: 20px;
			margin-right: 5px;

			@include pe-icon('\e649');
		}
	}

	/* YITH social login */
	.wc-social-login {
		margin-bottom: 2rem;

		.ywsl-label {
			margin-bottom: .5rem;
		}

		a.ywsl-social {
			img {
				@extend %transit;
			}

			&:hover {
				img {
					opacity: .8;
				}
			}
		}
	}

	@include media-breakpoint-down(sm) {

		.col-1,
		.col-2 {
			padding: 0 15px;
		}

		.woocommerce-LostPassword {
			float: none;
			text-align: left;
			margin-top: -20px;
		}
	}

	@include media-breakpoint-up(lg) {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			border-right: 1px solid rgba(0, 0, 0, .1);
			margin-left: -1px;
			height: 100%;
		}
	}
}

/* Lost password form */
form.woocommerce-ResetPassword {

	max-width: 500px;
	padding: 30px;
	margin: 0 auto;
	background-color: #f7f7f7;

	.woocommerce-FormRow--first {
		width: 100% !important;
	}

	.woocommerce-Button {
		width: 100%;
		margin-bottom: 0;
	}

	@include media-breakpoint-down(xs) {
		max-width: none;
		width: 80%;
	}
}

/* Addresses */
.woocommerce-Address,
.addresses {

	.title {
		margin-bottom: 20px;

		h3 {
			text-transform: uppercase;
			font-size: 25px;
			display: inline-block;
			margin-bottom: 0;
		}
	}

	.edit {
		font-size: 12px;
		display: inline-block;
		font-weight: 400;
		margin-left: 5px;
	}
}

/* Downloads */
.woocommerce-MyAccount-downloads {

	.download-actions {

		.button.download {
			border: none;
			background-color: transparent;
			padding: 0;

			&:before {
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;

				@include pe-icon('\e65c');
			}
		}
	}
}

/* Payment Methods */
form#add_payment_method {

	.woocommerce-PaymentMethods {
		margin-bottom: 20px;
	}
}
