/* Wishlist table */
#yith-wcwl-form {

	.wishlist-title {
		display: none;
	}

	table.shop_table.wishlist_table {
		font-size: 100%;

		th {
			text-align: center;

			&.product-name {
				text-align: left;
			}

		}

		td.product-remove {

			a {
				font-size: 0;

				&:before {
					font-size: 20px;

					@include pe-icon('\e680');
				}
			}
		}

		td.product-name a {
			font-size: 16px;
		}

		td.product-price {
			.amount {
				font-size: 18px;
			}
		}

		td.wishlist-empty {
			font-size: initial;
		}

		td.product-stock-status {
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 500;
			line-height: 2;
			letter-spacing: .1em;
			span {
				padding: 0 5px;
				border: 2px solid #297e29;

				&.wishlist-out-of-stock {
					color: #8b0000;
					border-color: #8b0000;
				}
			}
		}

		td.product-add-to-cart {

			.add-to-cart-btn {

				&:before,
				&:after {
					display: none;
				}

				a.loading {

					&:before {
						content: url(assets/images/loading.svg);
						display: inline-block;
						vertical-align: -4px;
					}
				}
			}

			.button {
				font-size: 14px;
				padding: 12px 20px;
				border-radius: 0;
			}
		}

		@include media-breakpoint-down(sm) {

			td.product-thumbnail a {
				max-width: none;

				img {
					width: auto;
				}
			}
		}

		@extend table.shop_table_responsive;
	}

	.yith-wcwl-share {
		margin-bottom: 0;
	}

	.yith-wcwl-share ul {
		display: inline-block;
		vertical-align: top;
	}

	.yith-wcwl-share-title {
		font-weight: 500;
		font-size: 18px;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
	}
}
