/**
 Style for product within loops
*/
.product-loop {
	margin-bottom: 30px;

	&.empty-box {
		opacity: 0;
	}

	&.empty-box:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ffffff;
		z-index: 10;
	}

	@include media-breakpoint-up(xl) {

		&.large-product .product-buttons {
			padding: 0 50px;
		}

		&.extra-large-product.col-xl-4 .product-buttons {
			padding: 0 100px;
		}

		&.extra-large-product.col-xl-6 .product-buttons {
			padding: 0 150px;
		}

		&.extra-large-product.col-xl-12 .product-buttons {
			max-width: 50%;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	@include media-breakpoint-up(sm) {

		.products.list & {
			position: relative !important;
			top: auto !important;
			left: auto !important;
			flex: 0 0 100%;
			max-width: 100%;
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 30px;
			border-bottom: 1px solid #eeeeee;
		}
	}
}

.product-loop.small-product {
	@include small-add-to-cart-btn();
}

.product-loop.extra-small-product {

	.product-buttons,
	.yith-wcwl-add-to-wishlist {
		display: none;
	}

	@include media-breakpoint-up(lg) {

		.product-buttons {
			display: block;
		}

		.product-buttons {

			.quick-view-btn,
			.compare-btn {
				display: none;
			}

			.add-to-cart-btn {
				width: 100%;
			}
		}
	}
}

/****************** Out of stock ******************/
.product-loop.outofstock {

	.product-thumb:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: .8;
		z-index: 1;
		background-color: #ffffff;
	}
}

/******************* Thumbnail ******************/
.product-loop .product-thumb {
	position: relative;
	text-align: center;
	overflow: hidden;

	img {
		margin: 0 auto;
	}

	@include media-breakpoint-up(sm) {

		.products.list & {
			flex: 0 0 30%;
			max-width: 30%;
		}
	}

	@include media-breakpoint-only(md) {

		.products.list & {
			flex: 0 0 40%;
			max-width: 40%;
		}

	}
}

.image-full-width .product-loop .product-thumb img {
	width: 100%;
}

.product-loop .product-thumb.loading {

	&:before {
		content: url(assets/images/loading.svg);
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 3;

		transform: scale(1.5) translate(-50%, -50%);

	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #ffffff;
		opacity: .8;
		z-index: 2;
	}
}

.product-loop .thumb-image {
	@extend %transit;
}

.product-loop .hover-image {
	position: absolute;
	top: 0;
	left: 50%;
	opacity: 0;
	visibility: hidden;
	transform: translate(-50%, 20px);

	@extend %transit;
}

.product-loop:hover .hover-image {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, 0);
}

/******************* Buttons ******************/
.product-loop .product-buttons {
	position: absolute;
	left: 0;
	bottom: 30px;
	font-size: 0;
	width: 100%;
	padding: 0 20px;
	z-index: 2;

	> div {
		opacity: 0;
		visibility: hidden;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		height: 40px;
		transform: translateY(20px);

		@extend %transit;

		a:before {
			font-size: 15px;
			line-height: 40px;
			height: 100%;
			width: 100%;

			@extend %fa-icon;
		}

		a:focus {
			outline: none;
		}

		&.loading a:before {
			content: url(assets/images/loading.svg);
			line-height: 0;
			height: 0;
			vertical-align: middle;
		}
	}

	.quick-view-btn {
		width: 40px;
		border-right: 1px solid rgba(255, 255, 255, .4);

		a:before {
			content: '\f002';
		}
	}

	.add-to-cart-btn {
		font-size: 13px;
		letter-spacing: .1em;
		width: calc(100% - 40px - 40px);
		transition-delay: .1s;

		a {
			height: 40px;
			width: 100%;
			background-color: transparent;
			border: none;
			border-radius: 0;
			padding-right: 0;
			padding-left: 0;
		}

		a.loading {
			font-size: 0;

			&:before {
				content: url(assets/images/loading.svg);
				position: absolute;
				top: 10px;
				left: calc(50% - 15px);
				line-height: 0;
				width: 0;
			}
		}

		a.added {

			&:before {
				display: inline-block;
				vertical-align: -1px;
				width: auto;
				margin-right: 5px;

				@include fa-icon('\f00c');
			}

		}

		a.added_to_cart {
			display: none;
		}
	}

	.compare-btn {
		width: 40px;
		display: inline-block;
		border-left: 1px solid rgba(255, 255, 255, .4);
		margin: 0;
		transition-delay: .2s;

		a:before {
			content: '\f0ec';
		}

		.blockUI,
		.blocOverlay {
			display: none !important;
		}
	}

	&.mobile {

		.quick-view-btn,
		.compare-btn {
			display: none;
		}

		.add-to-cart-btn {
			width: 100%;
		}
	}
}

.product-loop .product-buttons.product-buttons--dark {

	> div {
		background-color: $color__background-button;

		a {
			color: #ffffff;
		}

		&:hover {
			background-color: #444444;
		}
	}
}

.product-loop .product-buttons.product-buttons--light {

	> div {
		background-color: #ffffff;
		border: 1px solid #eeeeee;

		a {
			color: $color__secondary;
		}
	}

	.quick-view-btn,
	.compare-btn {
	}

	.add-to-cart-btn {
		border-left-width: 0;
		border-right-width: 0;
	}
}

.product-loop:hover .product-buttons {

	> div {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

/****************** Wishlist button *****************/
.product-loop .yith-wcwl-add-to-wishlist {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0;
	margin-top: 0;
	z-index: 2;

	@extend %transit;

	.ajax-loading {
		display: none !important;
	}

	a {
		display: block;
		text-align: center;
		line-height: 1;

		&:before {
			font-size: 15px;

			@extend %fa-icon;
		}

		&:focus {
			outline: none;
		}
	}

	.yith-wcwl-add-button {

		a.add_to_wishlist {

			&:before {
				display: inline-block;
				content: '\f08a';
			}

			&.loading {

				&:before {
					content: url(assets/images/loading.svg);
					line-height: 0;
					vertical-align: -20px;
				}
			}
		}
	}

	.yith-wcwl-wishlistaddedbrowse,
	.yith-wcwl-wishlistexistsbrowse {

		a {

			&:before {
				content: '\f004';
			}
		}

		.feedback {
			display: none;
		}
	}
}

.product-loop:hover .yith-wcwl-add-to-wishlist {
	opacity: 1;
	visibility: visible;

	@include transform(translateY(0));
	@include transition-delay(.2s);
}

/****************** Product Info *****************/
.product-loop .product-info {
	position: relative;
	text-align: left;

	.product-title {
		font-size: 16px;
		line-height: 1.5;
		width: calc(100% - 25px);
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.price {
		color: $color__price;
		display: block;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 5px;

		del {
			font-size: 15px;
			margin-right: 5px;
		}
	}

	@include media-breakpoint-up(sm) {

		.products.list & {
			flex: 0 0 70%;
			max-width: 70%;
			padding-left: 30px;

			.product-title {
				margin-top: 0;
			}
		}
	}

	@include media-breakpoint-only(md) {

		.products.list & {
			flex: 0 0 60%;
			max-width: 60%;
			padding-left: 15px;
		}

	}
}

/****************** Product Description *****************/
.product-loop .product-description {
	display: none;
	margin-top: 15px;

	.products.list & {
		display: block;
	}

	@include media-breakpoint-down(sm) {
		display: none !important;
	}
}

/***************** Insight Attribute Swatches ****************/
.isw-swatches--in-loop {
	margin-top: 10px;

	.isw-swatch:last-of-type {
		margin-bottom: 0;
	}

	.isw-swatch--isw_color .isw-term {
		vertical-align: middle;
		height: 16px;
		width: 16px;
		line-height: 16px;

		&.isw-selected {
			box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px #aaaaaa
		}
	}

	.isw-swatch--isw_image .isw-term {
		height: 16px;
		width: 16px;
		border-radius: 100%;

		&.isw-selected {
			box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px #aaaaaa;
		}
	}
}

.product-loop.isw-product-swatched .hover-image {
	display: none;
}

@include media-breakpoint-down(md) {

	.product-loop .hover-image {
		display: none;
	}

	.product-loop .product-buttons > div,
	.product-loop .yith-wcwl-add-to-wishlist {
		opacity: 1;
		visibility: visible;

		transform: translateY(0);
	}

	.product-loop .product-buttons {

		padding: 0 5px;

		.quick-view-btn,
		.compare-btn {
			display: none;
		}

		.add-to-cart-btn {
			width: 100%;
		}
	}

	@include media-breakpoint-up(sm) {

		.product-loop:not(.slick-slide) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

@include media-breakpoint-down(sm) {

	.products:not(.slick-slider) {
		margin-left: -10px;
		margin-right: -10px;
	}

	.product-loop:not(.slick-slide) {
		padding-left: 5px;
		padding-right: 5px;
	}

	.slick-slide.product-loop .product-buttons {
		max-width: 80%;
		left: 50%;
		padding: 0;
		transform: translateX(-50%);

		.add-to-cart-btn {
			font-size: 12px;
		}
	}
}

@include media-breakpoint-down(xs) {

	.product-loop .product-buttons {
		padding: 0 10px;
	}

	.product-loop .product-buttons .add-to-cart-btn {
		font-size: 12px;
	}

	.product-loop:not(.slick-slide) .product-badges span {
		left: 15px;
		top: 10px;

		+ span {
			top: 40px;

			+ span {
				top: 70px;
			}
		}
	}

}

/***************** Product Grid ****************/
.products.yith-wcan-loading {
	background: none;
	content: url(assets/images/loading.svg);
	opacity: .6;
	transform: scale(.5);
	margin: 0 auto !important;
}

.products,
.products.grid {

	.product-loop .product-thumb .yith-wcwl-add-to-wishlist {
		display: none;
	}

	.product-loop .product-info .product-buttons {
		display: none;
	}
}

/***************** Product List ****************/
.products.list {

	.product-loop .product-badges span {
		left: -10px;
	}

	.product-loop .product-thumb .yith-wcwl-add-to-wishlist {
		display: block;
		text-align: center;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.product-loop .product-title {
		font-size: 18px;
	}

	.product-loop .product-info .product-buttons {
		display: block;
		position: relative;
		bottom: auto;
		left: auto;
		width: 40%;
		padding: 0;
		margin-top: 20px;

		> div {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
			transition-delay: 0s;
		}

		&.product-buttons--light {
			border: 1px solid #eeeeee;
		}
	}

	@include media-breakpoint-only(md) {

		.product-loop .product-info .product-buttons {
			width: 50%;
		}

	}

	@include media-breakpoint-up(sm) {

		.product-loop .product-thumb .product-buttons {
			display: none;
		}

		.product-loop .product-info .yith-wcwl-add-to-wishlist {
			display: none;
		}
	}

	@include media-breakpoint-down(sm) {

		.product-loop .product-thumb .yith-wcwl-add-to-wishlist {
			display: none;
		}

		.product-loop .product-info .product-buttons {
			display: none;
		}

	}
}

/***************** Product Hover Effect ****************/
.product-loop.product-style-hover--info {
	position: relative;
	@extend %transit;

	.product-badges span {
		@extend %transit;
	}

	.yith-wcwl-add-to-wishlist {
		display: block !important;
		top: 5%;
		right: 5%;
		opacity: 0;
		z-index: 15;
		color: #ffffff !important;

		a {

			&:before {
				color: #ffffff;
			}

			&:hover {
				&:before {
					color: $color__primary;
				}
			}
		}
	}

	.product-buttons {
		z-index: 2;
	}

	&:hover {

		.product-info,
		.product-thumb > a:before,
		.yith-wcwl-add-to-wishlist {
			opacity: 1;
			visibility: visible;
		}
	}
}

.product-loop.product-style-hover--info .product-info {
	text-align: center;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	z-index: 2;
	margin-top: 0;
	backface-visibility: hidden;
	transform: translate(-50%, -50%);
	transition-duration: .5s;

	@extend %transit;

	.product-title {
		width: 100%;
		margin-top: 0;
	}

	@include media-breakpoint-down (sm) {

		.price {
			display: none;
		}
	}
}

.product-loop.product-style-hover--info .product-thumb {

	> a {
		position: relative;
		display: block;

		&:before {
			content: '';
			opacity: 0;
			visibility: hidden;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, .4);
			z-index: 1;
			transition-duration: .5s;

			@extend %transit;
		}
	}
}
