/**
 * Checkout page
 */
.woocommerce-checkout {

	h3 {
		text-transform: uppercase;
		font-size: 25px;
		margin-top: 10px;
	}

	.woocommerce-info {
		margin-bottom: 25px;
	}

	form.login,
	form.checkout_coupon {
		background-color: #f7f7f7;
		max-width: 500px;
		padding: 20px 25px 0;
		margin-bottom: 25px;
	}

	form.checkout_coupon {

		.input-text {
			max-width: 270px;
		}

		.button:hover {
			opacity: .8;
		}

		.form-row-first {
			width: auto;
		}

		.form-row-last {
			float: left;
			margin-left: 20px;
		}
	}

	form.login {

		.button {
			width: 100%;
		}

		label {
			display: block;
			margin-top: 15px;
		}

		.lost_password {
			text-align: right;
			float: right;
			width: 50%;
			position: relative;
			z-index: 2;
			margin-top: -43px;

			a:before {
				display: inline-block;
				vertical-align: middle;
				font-size: 20px;
				margin-right: 5px;

				@include pe-icon('\e649');
			}
		}

	}

	form.woocommerce-checkout {

		th.product-total,
		td.product-total {
			text-align: right;
		}

		tfoot td {
			text-align: right;
		}
	}

	@include media-breakpoint-down(sm) {

		form.checkout_coupon {

			.form-row-last {
				margin-left: 0;

				.button {
					width: 100%;
				}
			}
		}

		form.login {

			.lost_password {
				text-align: left;
				margin-top: -15px;
			}
		}
	}

	@include media-breakpoint-up(lg) {

		form.woocommerce-checkout {
			@include clearfix();

			.col2-set {
				display: inline-block;
				width: 50%;
				float: left;
				margin-right: 20px;

				.col-1,
				.col-2 {
					@include make-col(1, 1);
				}
			}
		}

		#order_review_heading {
			float: right;
			width: 49%;
		}

		.woocommerce-checkout-review-order {
			float: right;
			width: 49%;
			background-color: #f7f7f7;
			padding: 30px;
		}
	}
}

.woocommerce-checkout-payment {

	ul {
		list-style: none;
		padding: 0;
		margin-top: 20px;
		margin-bottom: 0;
	}

	li {
		margin-bottom: 15px;
	}

	p {
		margin-bottom: 0;
	}

	img {
		max-height: 40px;
		margin-left: 10px;
		margin-right: 20px;
	}

	.payment_box {
		background: #ffffff;
		padding: 10px 15px;
		position: relative;
		box-shadow: 0 0 10px rgba(0, 0, 0, .1);

		&:before {
			font-size: 22px;
			position: absolute;
			top: -3px;
			left: 25px;
			line-height: 0;
			color: #ffffff;

			@include fa-icon('\f0d8');
		}

	}

	.place-order {
		text-align: right;
	}

}

/* Order received */
.woocommerce-order-received {

	h2 {
		font-size: 25px;
		text-transform: uppercase;
		margin-top: 30px;
	}

	table.shop_table {
		max-width: 500px;

		tfoot tr:last-of-type td {
			.amount {
				font-weight: 300;
				font-size: 30px;
			}
		}
	}

	.woocommerce-thankyou-order-received {
		@extend .woocommerce-message;
	}
}
