/* My orders list */
table.shop_table.woocommerce-MyAccount-orders {

	thead {

		th {
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	tbody {

		td {
			text-align: center;
		}
	}

	.order-number {

		a {
			text-decoration: underline;
		}
	}

	.order-actions {

		a {
			border: none;
			background-color: transparent;
			padding: 0;
		}
	}
}

/* Order details */
table.order_details {
	margin-bottom: 30px;

	tr.product-purchase-note {
		background-color: #fafafa;

		td {
			border: none;
			padding-left: 30px;

			p {
				font-size: 12px;
			}
		}
	}

	tfoot tr:last-of-type td {
		.amount {
			font-weight: 300;
			font-size: 30px;
		}
	}
}

/* Customer Details */
table.customer_details {
	margin-bottom: 30px;

	tr {
		background: #fafafa;
	}

	th {
		font-weight: 600;
		width: 50%;
	}
}

/* Comment list notes */
.woocommerce .commentlist.notes {
	list-style-type: none;
	padding: 0;
	margin-bottom: 30px;

	.comment-text {
		padding: 15px 20px;
		min-height: 0;
		margin: 0;

		p.meta {
			font-size: 13px;
			letter-spacing: .03em;

			&:before {
				margin-right: 5px;

				@include fa-icon('\f272');
			}
		}
	}
}

/* Order Tracking */
form.track_order {
	padding: 40px 30px;
	background-color: #f7f7f7;

	label {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 600;
		color: #333333;
	}

	.input-text {
		background-color: #ffffff;
	}

	.form-row {
		float: none !important;
		width: 100% !important;
	}

	p.form-row:last-of-type {
		text-align: center;
		margin-bottom: 0;

		.button {
			width: 200px;
		}
	}

	@include media-breakpoint-up(md) {
		max-width: 630px;
		margin: 0 auto;
		padding: 60px;
	}
}

.woocommerce > .order-info {
	font-size: 14px;
	background-color: #fafafa;
	padding: 20px;
	margin-bottom: 20px;

	+ h2 {
		font-size: 25px;
		text-transform: uppercase;
	}
}

.order-again {
	margin-bottom: 20px;

	+ header > h2 {
		font-size: 25px;
		text-transform: uppercase;
	}
}
