/**
 * Main WooCommerce styles
 */
.woocommerce {

	.blockUI.blockOverlay {
		opacity: 1 !important;
		background: rgba(255, 255, 255, .7) none !important;

		&:before {
			content: url(assets/images/loading.svg);
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -10px;

			@include transform(scale(2) translate(-50%, -50%));
		}
	}

	.site-content {
		margin-bottom: 70px;
	}

	.variation {
		font-size: 12px;
		display: block;
		margin: 0;
		overflow: hidden;

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		dd,
		dt {
			display: block;
			float: left;
			clear: both;
			color: #999999;
		}

		dt {
			font-weight: inherit;
			margin-right: 5px;
		}

		dd {
			clear: none;
			margin: 0;

			p {
				font-size: 12px;
				line-height: 24px;
				margin-bottom: 0;
			}
		}

		.woocommerce-Price-amount {
			font-size: 12px !important;
			color: #999999 !important;
		}
	}

	// Quantity field
	input[type="number"].qty {
		width: 45px;
		background-color: #f7f7f7;
		margin: 0 auto;
	}

	.quantity.hidden {
		display: none;
	}

	.quantity.robin_qty {
		height: 45px;
		max-width: 120px;
		display: inline-block;
		vertical-align: top;
		background-color: #f7f7f7;
		padding: 10px;

		.qty {
			text-align: center;
			border: none;
			float: left;
			height: 100%;
			width: 45px;
			margin: 0;
			padding: 0 10px;
			background-color: transparent !important;
			-moz-appearance: textfield;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
			}
		}

		.plus,
		.minus {
			font-size: 0;
			float: left;
			cursor: pointer;
			line-height: 1;

			@extend %transit;

			&:before {
				font-size: 22px;

				@extend %pe-icon;
			}

			&:hover {
				color: #333333;
			}
		}

		.plus {

			&:before {
				content: '\e623';
			}
		}

		.minus {

			&:before {
				content: '\e644';
			}
		}
	}

	/**
	 * General layout styles
	 */
	.col2-set {
		@include make-row();

		.col-1,
		.col-2 {
			@include col(xs, 12);

			margin-bottom: 30px;
			padding: 0 15px;
		}

		@include media-breakpoint-up(lg) {
			.col-1, .col-2 {
				margin: 0;

				@include make-col(1, 2);
			}
		}
	}

	form {

		> h3 {
			text-transform: uppercase;
			font-size: 25px;
		}

		.form-row {
			position: relative;
			margin-bottom: 20px;

			&.form-row-first,
			&.form-row-last {
				display: inline-block;
				width: 48%;
				overflow: visible;
			}

			&.form-row-last {
				float: right;
			}

			&.form-row-wide {
				clear: both;
			}
		}

		.input-text {
			background-color: #ffffff;
			padding: 9px 15px;
		}

		// Select2
		.select2-container {

			&.select2-container--open {

				.select2-selection--single {
					border-color: #c7c7c7;
				}
			}

			.select2-selection--single {
				height: auto;
				border-radius: 0;
				border-color: #f7f7f7;
				padding: 13px 15px;
			}

			.select2-selection__rendered {
				line-height: 1;
				padding: 0;

				&:after {
					position: absolute;
					top: 50%;
					right: 20px;

					@include fa-icon('\f107');
					@include transform(translateY(-50%));
				}
			}

			.select2-selection__arrow {
				display: none;
			}
		}
	}

	table.shop_table {
		width: 100%;
		background-color: #ffffff;

		.woocommerce-Price-amount {
			color: #333333;
		}

		label {
			color: #333333;
		}

		thead th {
			background-color: #fafafa;
		}

		th {
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: .1em;
			color: #222222;
			border-top: 1px solid #ededed;
			padding: 6px 10px 6px 0;

			&:first-of-type {
				padding-left: 10px;
			}
		}

		td.product-name {
			color: #999999;

			a {
				color: #999999;
			}
		}

		tr.shipping {

			#shipping_method {
				list-style: none;
				padding: 0;
				margin: 0;

				input[type="radio"] {
					width: auto;
					vertical-align: middle;
					margin-right: 5px;
					margin-bottom: 0;
				}
			}
		}

		tr.order-total {

			.amount {
				font-weight: 300;
				font-size: 30px;
			}

			.includes_tax {
				font-size: 100%;
			}

			.includes_tax .amount {
				font-size: inherit;
			}
		}

		tfoot td {
			padding-left: 0;
		}
	}

	table.shop_table_responsive {

		@include media-breakpoint-down(sm) {

			thead {
				display: none;
			}

			tr {
				position: relative;
				display: block;
				text-align: center;
				border: 1px solid #ededed;
				border-bottom: none;
				padding: 30px 0;

				&:last-of-type {
					border-bottom: 1px solid #ededed;
				}
			}

			td {
				text-align: center;
				display: block;
				width: 100% !important;
				margin: 0 auto;
				padding: 0 !important;
				border: none;
			}

			td.product-remove {
				position: absolute;
				top: 10px;
				right: 10px;
				width: auto !important;
			}

			td.product-thumbnail {
				padding-top: 30px;
			}

			td.product-name {
				margin-top: 20px;
			}

			td.product-price,
			td.product-quantity,
			td.product-subtotal,
			td.product-stock-status,
			td.product-add-to-cart {
				margin-top: 10px;
			}
		}
	}

	/**
	 * Order page
	 */
	ul.order_details {
		display: inline-block;
		list-style: none;
		margin: 0 0 1.5em;
		padding: 15px;
		background-color: #f7f7f7;

		@include clearfix();

		li {
			float: left;
			text-transform: uppercase;
			font-size: .715em;
			line-height: 1;
			border-right: 1px dashed #dddddd;
			margin-left: 0;
			margin-right: 2em;
			padding-left: 0;
			padding-right: 2em;
			list-style-type: none;

			strong {
				display: block;
				font-size: 1.4em;
				font-weight: 600;
				text-transform: none;
				line-height: 1.5;
				color: #333333;
			}

			&:last-of-type {
				border: none;
			}
		}
	}

	@include media-breakpoint-down(sm) {

		form {
			.form-row {
				&.form-row-first, &.form-row-last {
					float: none;
					width: 100%;
				}
			}
		}
	}
}

.woocommerce-page {

	.site-content {
		margin-bottom: 70px;
	}
}

// star rating
.star-rating {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	font-size: 0;
	width: auto;
	line-height: 1;
	color: #dcdcdc;

	&:before {
		font-size: 12px;

		@include fa-icon('\f005 \f005 \f005 \f005 \f005');
	}

	> span {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		color: #ffd24d;

		&:before {
			font-size: 12px;

			@include fa-icon('\f005 \f005 \f005 \f005 \f005');
		}
	}
}

// product badges
.product-badges {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 13px;
	color: #ffffff;

	span {
		position: absolute;
		left: 35px;
		top: 20px;
		border-radius: 5px;
		z-index: 3;
		padding: 0 10px;

		&.new {
			background-color: #00b285;
		}

		&.hot {
			background-color: #ffc926;
		}

		&.onsale {
			background-color: #d92523;
		}

		&.outofstock {
			background-color: #aaaaaa;
		}

		+ span {
			top: 50px;

			+ span {
				top: 80px;
			}
		}
	}
}

// Insight Attribute Swatches
.isw-swatches {

	&.isw-swatches--in-loop {

		.isw-term {
			margin-right: 10px;
		}
	}

	.isw-term {

		@extend %transit;

		&:last-of-type {
			margin-right: 0;
		}

		&:after {
			font-family: inherit;
		}
	}

	.isw-white.isw-selected {
		border: 1px solid #dddddd;
	}

	.isw-swatch--isw_color .isw-term {
		border-radius: 100%;
	}

	.isw-swatch--isw_image .isw-term img {
		border-radius: 100%;
	}

	.isw-swatch--isw_text .isw-term {
		color: #333333;
		box-shadow: none;

		&:before,
		&:after {
			display: none;
		}
	}

	.reset_variations {
		font-size: 8px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .1em;
		text-decoration: underline;
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	border: 1px solid transparent;
	padding: 5px 20px;

	&.strong {
		background-color: #c1e1b9;
		border-color: #83c373;
		color: #48823a;
	}

	&.short {
		background-color: #f1adad;
		border-color: #e35b5b;
		color: #ae4443;
	}

	&.bad {
		background-color: #fbc5a9;
		border-color: #f78b53;
		color: #ae5f37;
	}

	&.good {
		background-color: #ffe399;
		border-color: #ffc733;
		color: #b69640;
	}
}

.woocommerce-password-hint {
	font-size: 14px;
	position: absolute;
	bottom: 100%;
	right: 0;
	opacity: 0;
	visibility: hidden;
	background: #ffffff;
	box-shadow: 0 0 4px rgba(0, 0, 0, .15);
	max-width: 300px;
	width: 100%;
	margin-bottom: -10px;
	padding: 20px;

	@extend %transit;

	&:after {
		position: absolute;
		top: 100%;
		left: 30px;
		font-size: 26px;
		line-height: 7px;
		text-shadow: 0 2px 3px rgba(0, 0, 0, .1);
		color: #ffffff;

		@include fa-icon('\f0d7');

	}
}

.woocommerce-password-strength + .woocommerce-password-hint {
	opacity: 1;
	visibility: visible;
}

/* WooCommerce message */
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	position: relative;
	word-wrap: break-word;
	background-color: #f7f7f7;
	border-top: 3px solid #1e85be;
	padding: 1em 2em 1em 3.5em;
	margin-bottom: 2em;

	&:before {
		display: inline-block;
		position: absolute;
		top: 1.25em;
		left: 2em;

		@include fa-icon('\f24a');
	}

	.button {
		float: right;
		background-color: transparent !important;
		border: none !important;
		color: #333333 !important;
		padding: 0;

		@include media-breakpoint-down(sm) {
			float: none;
		}
	}

	li {
		list-style: none outside !important;
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
}

.woocommerce-message {
	border-top-color: #8fae1b;

	&:before {
		content: '\f00c';
		color: #8fae1b;
	}
}

.woocommerce-info {
	border-top-color: #1e85be;

	&:before {
		color: #1e85be;
	}
}

.woocommerce-error {
	border-top-color: #b81c23;

	&:before {
		content: '\f00d';
		color: #b81c23;
	}
}
